[submodule "packages/blob/Blob"]
	path = packages/blob/Blob
	url = git://github.com/peerlibrary/Blob.js.git
	branch = peerlibrary
[submodule "packages/dom-text-mapper/dom-text-mapper"]
	path = packages/dom-text-mapper/dom-text-mapper
	url = git://github.com/peerlibrary/dom-text-mapper.git
	branch = peerlibrary
[submodule "packages/dom-text-mapper/dom-text-matcher"]
	path = packages/dom-text-mapper/dom-text-matcher
	url = git://github.com/peerlibrary/dom-text-matcher.git
	branch = peerlibrary
[submodule "packages/annotator/annotator"]
	path = packages/annotator/annotator
	url = git://github.com/peerlibrary/annotator.git
	branch = peerlibrary
[submodule "packages/scribe/scribe"]
	path = packages/scribe/scribe
	url = https://github.com/peerlibrary/scribe.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-blockquote-command"]
	path = packages/scribe/scribe-plugin-blockquote-command
	url = https://github.com/peerlibrary/scribe-plugin-blockquote-command.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-sanitizer"]
	path = packages/scribe/scribe-plugin-sanitizer
	url = https://github.com/peerlibrary/scribe-plugin-sanitizer.git
	branch = peerlibrary
[submodule "packages/scribe/scribe-plugin-keyboard-shortcuts"]
	path = packages/scribe/scribe-plugin-keyboard-shortcuts
	url = https://github.com/peerlibrary/scribe-plugin-keyboard-shortcuts.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-heading-command"]
	path = packages/scribe/scribe-plugin-heading-command
	url = https://github.com/peerlibrary/scribe-plugin-heading-command.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-toolbar"]
	path = packages/scribe/scribe-plugin-toolbar
	url = https://github.com/peerlibrary/scribe-plugin-toolbar.git
	branch = dist
[submodule "packages/sha256/digest.js"]
	path = packages/sha256/digest.js
	url = https://github.com/peerlibrary/digest.js
