[submodule "packages/blob/Blob"]
	path = packages/blob/Blob
	url = git://github.com/peerlibrary/Blob.js.git
	branch = peerlibrary
[submodule "packages/dom-text-mapper/dom-text-mapper"]
	path = packages/dom-text-mapper/dom-text-mapper
	url = git://github.com/peerlibrary/dom-text-mapper.git
	branch = peerlibrary
[submodule "packages/dom-text-mapper/dom-text-matcher"]
	path = packages/dom-text-mapper/dom-text-matcher
	url = git://github.com/peerlibrary/dom-text-matcher.git
	branch = peerlibrary
[submodule "packages/annotator/annotator"]
	path = packages/annotator/annotator
	url = git://github.com/peerlibrary/annotator.git
	branch = peerlibrary
[submodule "packages/scribe/scribe"]
	path = packages/scribe/scribe
	url = https://github.com/peerlibrary/scribe.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-blockquote-command"]
	path = packages/scribe/scribe-plugin-blockquote-command
	url = https://github.com/peerlibrary/scribe-plugin-blockquote-command.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-curly-quotes"]
	path = packages/scribe/scribe-plugin-curly-quotes
	url = https://github.com/peerlibrary/scribe-plugin-curly-quotes.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-link-prompt-command"]
	path = packages/scribe/scribe-plugin-link-prompt-command
	url = https://github.com/peerlibrary/scribe-plugin-link-prompt-command.git
	branch = dist
[submodule "packages/scribe/scribe-plugin-smart-lists"]
	path = packages/scribe/scribe-plugin-smart-lists
	url = https://github.com/peerlibrary/scribe-plugin-smart-lists.git
	branch = dist
