.partners
  margin 0
  padding 0
  list-style none
  display block

  li
    margin 5px
    padding 0
    display inline-block
    line-height 100px
    vertical-align middle
 
.h-team-members
  text-align center
  margin 50px auto

  .h-member
    margin 0 20px 15px
    display inline-block
    text-decoration none

    .p-name
      margin-top 5px
