@import 'variables.import'

.access-menu
  .roles-control

    .roles-control-list
      padding 0
      list-style none

      li
        display table-row

        .item
          display table-cell
          width 100%

          .inline-item
            max-width 125px
            margin-bottom 4px

            .avatar
              width 24px
              text-align center

              img
                position absolute
                left 0

              &::before
                position static
                vertical-align middle
                margin-top -2px

        &:last-child .document .inline-item
          margin-bottom 0

        .role
          display table-cell
          font-weight 300
          font-size 13px
          text-align right
          white-space nowrap

          .icon-down
            font-size 9px

      &.read-only
        li
          .item
            .inline-item
              max-width 130px

    .add-control .member
      display block
      width 100%

.meta-menu
  .access-menu
    background-color rgba(120,120,120,0.9)

    .selections
      display table
      border-collapse separate
      border-spacing 10px
      width 100%

      .selection
        display table-cell
        width 33%
        padding 10px
        background none
        text-align center
        cursor pointer
        transition 0.2s
        border-radius 2px

        input
          display none

        .access-icon
          display block
          margin-bottom 10px
          cursor pointer
          font-size 24px

        &::before
          display none

        &:hover, &.selected
          background-color rgba(200,200,200,0.7)

    .access-name
      padding 10px
      text-align center

      .access-icon
        font-size 18px

    .description
      padding 0 10px 10px
      text-align center
      display none

    .displayed.description
      display block

    .roles-control
      padding 0 10px 10px

      .roles-control-list
        margin-top 0

        .role
          .dropdown
            button
              color black

.sidebar
.dropdown
  .access-menu
    .selections
      margin 0 0 10px -10px

      .selection
        position relative
        border 1px solid transparent
        margin 0
        padding 3px 3px 3px 25px
        cursor pointer

        &::before
          position absolute
          left 7px
          top 8px

        input
          display none

        .access-icon
          cursor pointer
          font-size 18px
          vertical-align middle

        &:hover
          border 1px solid box-shadow-border
          background white

    .access-name
      margin-bottom 10px

      .access-icon
        font-size 18px

    .description
      font-weight 300
      margin-bottom 10px
      display none

    .displayed.description
      display block

    .private-access-control
      .add-control.control
        width 100%

        input
          width 100%

.sidebar
  .access-menu
    padding-left 10px
