@import 'variables.import'

.hide-background
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  /* Higher than header */
  z-index 6000
  background black-translucent

.accounts-centered-dialog
  /* Higher than hide-background */
  z-index 6010 !important
  font-weight 300
  margin-top -150px !important

  #reset-password-new-password-label, .reset-password-new-password-wrapper, #enroll-account-password-label, .enroll-account-password-wrapper
    margin 0 20px

  #login-buttons-reset-password-button, #login-buttons-enroll-account-button
    padding 0

  #reset-password-new-password-label, #enroll-account-password-label
    margin-bottom 20px

  /* Hacks to get "Cancel" instead of "x" */
  #login-buttons-cancel-reset-password, #login-buttons-cancel-enroll-account
    visibility hidden
    display block
    height 10px

  #login-buttons-cancel-reset-password:after, #login-buttons-cancel-enroll-account:after
    display block
    visibility visible
    content 'Cancel'
    margin-top -20px
