.tabs-left > .nav-tabs
  border-bottom 0

.tabs-left > .nav-tabs > li,
  float none

.tabs-left > .nav-tabs > li > a,
  min-width 74px
  margin-right 0
  margin-bottom 3px


.tabs-left
  & > .nav-tabs
    float left
    margin-right 19px
    border-right 1px solid #ddd
    & > li
      & > a
        margin-right -1px
        -webkit-border-radius 4px 0 0 4px
        -moz-border-radius 4px 0 0 4px
        border-radius 4px 0 0 4px

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus
   border-color #eeeeee #dddddd #eeeeee #eeeeee

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus
  border-color #ddd transparent #ddd #ddd
  border-right-color #ffffff


