@import 'variables.import'

.item-list
  .annotation.catalog-item
    padding 5px 20px 10px

    .body
      border-left none
      border-bottom 1px solid box-shadow-border
      margin 0
      padding 0 0 5px
      transition border 0.2s

    &:hover
      .body
        border-bottom-color box-shadow-shadow

    .details
      margin-top 15px
