@import 'variables.import'

.catalog
  .controls
    .control
      display inline-block
      margin-left 2em

      &:first-child
        margin-left 0

    .filter
      input
        border none
        background none
        font-weight 300

    .sort
      font-weight 300

      .dropdown
        box-sizing border-box
        min-width 100%

  .status
    font-size 16px
    font-weight 300

  /* Statuses appearing after the list of documents should be centered instead of left-aligned */
  .item-list + .status
    text-align center

  .load-more
    display block
    margin 0 auto
