.item-list
  .collection.catalog-item
    .publications-count
      .icon-private
        display none

.sidebar
  .item-list
    .collection.catalog-item
      .publications-count
        .icon-private
          display inline-block
