@import 'variables.import'

section.collection
  margin-top simple-margin-top

.collection-publications
  margin-top 0

.collection-details.sidebar
  .person
    margin-bottom 10px

  .back-to-library
    margin-top 10px