footer

  ul
    list-style none
    text-align center
    padding 0

    li
      display inline-block    
        

.index-footer
  .connect, .subpages
    position fixed
    bottom 0
    margin: 14px 0

  .connect
    right 20px
    
    li
      margin-left 20px
    li:first
      margin-left 0

  .subpages
    left 20px

    li
      margin-right 20px
    li:last-child
      margin-right 0
