@import 'variables.import'

.search-bar
  input
    border none
    background none
    font-weight 300

/* TODO: Unify form controls across the platform, https://github.com/peerlibrary/peerlibrary/issues/370 */

.input-and-button
  display table
  width 100%

  input
    display table-cell
    width 70%
    padding 10px
    border none
    box-sizing border-box
    font-weight 300
    background-color white

  button
    display table-cell
    border none
    color white
    width 30%
    padding 10px
    background-color blue
    box-sizing border-box

  button:hover
    background-color blue-accent

.only-input
  display block
  width 100%
  padding 10px
  border none
  box-sizing border-box
  font-weight 300
  background-color white

.only-button
  display inline-block
  border none
  color white
  padding 10px
  background-color blue
  box-sizing border-box

.only-button:hover
  background-color blue-accent