section.group
  margin-top 60px

.member-list
  padding 0
  list-style none

  .member
    display inline-block
    margin-right: 20px
    margin-bottom: 10px

    img
      margin: 0 5px 0 0

    h4
      display inline-block
      margin 0
      vertical-align middle