@import 'variables.import'

.group.inline-item
  display inline-block
  white-space nowrap

  .avatar
    min-width 1.5em

.item-list
  .group.catalog-item
    .members-count
      .icon-private
        display none

.sidebar
  .item-list
    .group.catalog-item
      .members-count
        .icon-private
          display inline-block