@import 'variables.import'

section.groups
  margin-top simple-margin-top

.groups-directory
  .directory-title, .search-bar
    display inline-block

  .directory-title
    margin-bottom 0

  .search-bar
    margin-left 20px

  .no-groups
    font-size 1.2em
    font-weight 300
    padding-left 1em

.groups-list
  list-style none
  padding 0

.group-listing
  background white
  padding 10px 15px
  margin 10px 0 10px 1px
  border-radius 2px
  box-shadow 0 0 0 1px box-shadow-border

  h2
    margin: 0 0 0.2em 0

.my-groups
  box-sizing border-box
  padding 0 0 30px 10px
  border-left 1px solid #dee7e9
