@import 'variables.import'

section.groups
  .sidebar
    box-sizing border-box
    padding 0 0 30px 10px
    margin-top 1px

.group.inline-item
  display inline-block
  white-space nowrap

  .avatar
    min-width 1.5em

.item-list
  .group.catalog-item
    .members-count
      .icon-private
        display none

.sidebar
  .item-list
    .group.catalog-item
      .members-count
        .icon-private
          display inline-block