@import variables

/* Header
========= */

header
  .container
    background blue
    height 45px
    font-size 16px
    top 0
    width 100%
    z-index 99999
    position fixed

.logo
  width 145px
  float left

  a
    color white
    text-decoration none
    line-height 45px
    font-size 22px
    font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    background transparent
    display inline-block
    padding 0 20px
    transition 0.2s

  a:hover
    background white
    color blue-accent
    text-decoration none !important

ul.top-menu
  list-style none
  padding 0
  margin 0
  color white

  li
    display block
    float left
    line-height 45px

    a
      color white
      display block
      padding 0 20px
      transition 0.2s

    span.search-button
      color blue-accent
      border none
      display inline
      position relative
      right -10px

  .search-wrapper
    padding 0 20px
    cursor pointer
    width 400px
    transition 0.2s

    .search-form
      display none

      input
        background transparent
        border 0
        color blue-accent
        font-size 18px
        width 575px
        display inline

  .search-wrapper.search-focused
    width 600px
    background white

    span.label
      display none

    .search-form
      white-space nowrap
      display inline

  .search-wrapper:hover
    span.cursor
      visibility visible

ul.top-menu li a:hover, ul.top-menu .search-wrapper:hover
  background white
  color blue-accent
  text-decoration none !important

span.cursor
  animation blink 1s linear 0s infinite
  display inline-block
  width 1px
  height 23px
  background blue-accent
  position relative
  top 6px
  visibility hidden
  margin-left 2px

@-webkit-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

@-moz-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

@-o-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

@-ms-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

.development
  position relative

  .banner
    color red
    position absolute
    font-size 80%
    font-weight bold
    top 25%
    left 10px
    -webkit-transform rotate(-10deg)
    -moz-transform rotate(-10deg)
    -o-transform rotate(-10deg)
    -ms-transform rotate(-10deg)

/*
Sign up buttons
=============== */

#login-buttons
  display inline-block
  float right

  a
    cursor pointer

  #login-dropdown-list
    color black
    background rgb(230,230,230)
    border-color rgb(210,210,210)
    border-style solid
    border-width 0 0 1px 1px
    position absolute
    width 293px
    right 0px
    font-size 14px
    line-height 36px

    label
      display block
      font-weight bold
      padding-top 16px

    input
      position relative
      min-height 20px
      width 235px
      padding 7px 8px
      outline medium none
      color rgb(51,51,51)
      background-color rgb(255,255,255)
      background-repeat no-repeat
      background-position right center
      border 1px solid rgb(204,204,204)
      border-radius 3px 3px 3px 3px
      box-shadow 0px 1px 2px rgba(0,0,0,0.075) inset
      -moz-box-sizing border-box
      transition all 0.15s ease-in 0s
      vertical-align middle

    input:focus
      border-color rgb(81,167,232)
      box-shadow 0 1px 2px rgba(0,0,0,0.075) inset, 0px 0px 5px rgba(81,167,232,0.5)

#login-password-label-and-input, #login-username-or-email-label-and-input, #login-username-label-and-input, #login-email-label-and-input, #forgot-password-email-label-and-input, .message, .login-button
  padding 0 20px

.login-close-text
  float left
  position relative
  padding-bottom 8px

.login-close-text-clear
  clear both

#login-buttons.login-buttons-dropdown-align-right .login-close-text
  float right

/*
Auth buttons
============ */

.login-button
  margin-top 30px
  padding 5px 20px
  background #68E468
  text-align center
  font-weight bold
  color white
  cursor pointer
  transition all 0.15s ease-in 0s

.login-button:hover
  background #7BC97B

.additional-link
  background blue
  text-align center

.user-icon
  width 25px
  height 25px

/* Index header
=============== */

header.index-header
  .search-wrapper
    position fixed
    display block
    height 15px
    top 50%
    left 50%
    width 620px
    margin-left -313px
    visibility visible
    background transparent
    color #444
    border-width 0 4px 4px 4px
    border-style solid
    border-color rgba(20,20,20,0.8)
    padding 0 10px

    .label
      display none

    .search-form
      display block
      margin-top -26px

      .search-button
        display none

      input
        position relative
        height 40px
        width 616px
        font-size 24px
        background transparent
      input::-webkit-input-placeholder
          font-family "Signika Negative", sans-serif
          color rgba(20,20,20,0.8)
      input::-moz-placeholder
          font-family "Signika Negative", sans-serif
          color rgba(20,20,20,0.8)

  .search-wrapper:hover
    background transparent

  .container
    background-color transparent

  ul.top-menu
    a.login-link-text
      border 1px solid rgba(20,20,20,0.8)
      font-size 18px
      line-height 18px
      padding 8px 20px
      position absolute
      top 15px
      right 25px
      color rgba(20,20,20,0.8)
      border-radius 4px

header.no-index-header
  .search-wrapper
    position relative
    display block

  .container
    .progress-bar
      background #0E6EB9
      bottom -2px
      height 2px
      position absolute

