@import vars

/* header
========= */
header .fat-header, header .normal-header
  background: blue
  height: 45px
  font-size: 16px
  top: 0
  width: 100%
  z-index: 99999

.logo
  width: 145px
  float: left

.logo a
  color: white
  text-decoration: none
  line-height: 45px
  font-size: 22px
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  background: transparent
  display: inline-block
  padding: 0 20px
  transition: 0.2s

.logo a:hover
  background: white
  color: blue-accent
  text-decoration: none!important

ul.top-menu
  list-style: none
  padding: 0
  margin: 0
  color: white

ul.top-menu li
  display: block
  float: left
  line-height: 45px

ul.top-menu li a
  color: white
  display: block
  padding: 0 20px
  transition: 0.2s

ul.top-menu .search-wrapper
  padding: 0 20px
  cursor: pointer
  width: 400px
  transition: 0.2s

ul.top-menu .search-wrapper .search-form
  display: none

ul.top-menu .search-wrapper .search-form input
  background: transparent
  border: 0
  color: blue-accent
  font-size: 18px
  width: 575px
  display: inline

ul.top-menu .search-wrapper.search-focused
  width: 600px
  background: white

ul.top-menu .search-wrapper.search-focused span.label
  display: none

ul.top-menu .search-wrapper.search-focused .search-form
  white-space: nowrap
  display: inline

ul.top-menu li span.search-button
  color: blue-accent
  border: none
  display: inline
  position: relative
  right: -10px

ul.top-menu li a:hover, ul.top-menu .search-wrapper:hover
  background: white
  color: blue-accent
  text-decoration: none!important

span.cursor
  animation: blink 1s linear 0s infinite
  display: inline-block
  width: 1px
  height: 23px
  background: blue-accent
  position: relative
  top: 6px
  visibility: hidden
  margin-left: 2px

@-webkit-keyframes blink {
  0%   { opacity:1 }
  47%  { opacity:1 }
  50%  { opacity:0 }
  97%  { opacity:0 }
  100% { opacity:1 }
}

@-moz-keyframes blink {
  0%   { opacity:1 }
  47%  { opacity:1 }
  50%  { opacity:0 }
  97%  { opacity:0 }
  100% { opacity:1 }
}

@-ms-keyframes blink {
  0%   { opacity:1 }
  47%  { opacity:1 }
  50%  { opacity:0 }
  97%  { opacity:0 }
  100% { opacity:1 }
}

@-o-keyframes blink {
  0%   { opacity:1 }
  47%  { opacity:1 }
  50%  { opacity:0 }
  97%  { opacity:0 }
  100% { opacity:1 }
}

ul.top-menu .search-wrapper:hover span.cursor
  visibility: visible

.development
  position: relative

.development .banner
  color: red
  position: absolute
  font-size: 80%
  font-weight: bold
  top: 25%
  left: 10px
  -webkit-transform: rotate(-10deg)
  -moz-transform: rotate(-10deg)
  -o-transform: rotate(-10deg)
  -ms-transform: rotate(-10deg)

header.index-header .fat-header
  position: absolute

header.index-header .normal-header
  visibility: hidden

header.no-index-header .fat-header
  visibility: hidden

header.no-index-header .normal-header
  position: fixed

/* index search
===============
*/

header.index-header .search-wrapper
  position: absolute
  display: block
  height: 10px
  top: 420px
  left: 50%
  width: 620px
  margin-left: -310px
  visibility: visible
  background: transparent
  color: #444
  border-width: 0 2px 2px 2px
  border-style: solid
  border-color: #999
  padding: 0 10px

header.index-header .search-wrapper:hover
  background: transparent

header.no-index-header .search-wrapper
  position: relative
  display: block

header.index-header .search-wrapper .label
  display: none

header.index-header .search-wrapper .search-form
  display: block

header.index-header .search-wrapper .search-form .search-button
  display: none

header.index-header .search-wrapper .search-form input
  position: relative
  top: -35px
  height: 40px
  width: 616px
  background: transparent

/*
Fat header
========== */
header .fat-header
  height: 70px

header .fat-header .logo
  width: 180px
  float: left

header .fat-header .logo a
  color: white
  text-decoration: none
  line-height: 70px
  font-size: 30px
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  background: transparent
  display: inline-block
  padding: 0 20px
  transition: 0.2s

header .fat-header span.tagline
  color: white
  line-height: 70px
  padding: 0 20px
  display: inline-block
  float: left

header .fat-header ul.top-menu li
  display: block
  float: left
  line-height: 70px

header .normal-header .progress-bar
  background: red
  bottom: -5px
  height: 5px
  position: absolute

/*
Sign up buttons
=============== */
#login-buttons
  color: black
  float: right

#login-buttons a
  color: black

#login-buttons #login-dropdown-list
  margin-left: -143px
