@import 'variables.import'

/* Header
========= */

header
  .container
    background blue
    height header-height
    font-size 16px
    font-weight 300
    top 0
    width 100%
    z-index 5000
    position fixed
    user-select none

.logo
  width 145px
  float left

  a
    color white
    text-decoration none
    line-height 45px
    font-size 22px
    font-family "Source Sans Pro", sans-serif
    background transparent
    display inline-block
    padding 0 20px
    transition 0.2s

  a:hover
    background white
    color blue-accent
    text-decoration none !important

ul.top-menu
  list-style none
  padding 0
  margin 0
  color white

  li
    display block
    float left
    line-height 45px

    a
      color white
      display block
      padding 0 20px
      user-select none
      cursor pointer
      transition 0.2s

    span.search-button
      color blue-accent
      border none
      display inline
      position relative
      right -10px

  .search-wrapper
    padding 0 30px 0 20px
    width 400px
    transition 0.2s

    .search-form
      display none

      input
        background transparent
        border 0
        color blue-accent
        font-size 18px
        width 575px
        display inline

      input:focus
        box-shadow none

  .search-wrapper.search-focused
    width 600px
    background white

    span.label
      display none

    .search-form
      white-space nowrap
      display inline

  .search-wrapper:hover
    span.cursor
      visibility visible

ul.top-menu li a:hover, ul.top-menu .search-wrapper:hover
  text-decoration none !important

.no-index-header ul.top-menu .search-wrapper
  cursor pointer

.no-index-header
  ul.top-menu li a:hover, ul.top-menu .search-wrapper:hover
    background white
    color blue-accent

ul.top-menu li .accounts-dialog a:hover
  background transparent
  color white

span.cursor
  animation blink 1s linear 0s infinite
  display inline-block
  width 1px
  height 23px
  background blue-accent
  position relative
  top 6px
  visibility hidden
  margin-left 2px

@-webkit-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

@-moz-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

@-o-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

@-ms-keyframes blink
  0%
    opacity 1
  47%
    opacity 1
  50%
    opacity 0
  97%
    opacity 0
  100%
    opacity 1

.development
  position relative

.development .banner, .development-banner
  color red
  position absolute
  font-size 12px
  line-height default-line-height
  font-weight bold
  text-align center
  top 33%
  left 0
  right 0
  padding 0
  transform rotate(-10deg)

.development-banner
  transform none
  position static
  font-size 18px
  width 90%
  margin-left auto
  margin-right auto
  margin-bottom 0

  .warning
    font-size 36px
    margin-top ((18px * default-line-height * 2 - 36px) / 2)

  .left
    float left

  .right
    float right

.development-comment
  text-align center
  margin 0

/* Sign in buttons
================== */

#login-buttons
  display inline-block
  float right

  a.additional-link
    color blue-accent

header.logged-in
  #login-dropdown-list
    background white 
    border-color rgb(210,210,210)
    border-style solid
    border-width 1px
    border-radius 3px
    position  absolute
    width 180px
    padding 5px 0
    top 55px
    right 10px
    font-size 14px
    line-height 20px

  #login-dropdown-list:after
    content ''
    position absolute
    border-style solid
    border-width 0 8px 8px
    border-color #FFFFFF transparent
    display block
    width 0
    z-index 1
    margin-left -10px
    top -8px
    left 161px

  #login-dropdown-list:before
    content ''
    position absolute
    border-style solid
    border-width 0 8px 8px;
    border-color rgb(210,210,210) transparent
    display block
    width 0
    z-index 0
    margin-left -10px
    top -9px
    left 161px

  .menu-item
    padding 5px 0
    background transparent
    text-align center
    font-weight bold
    color blue-accent
    cursor pointer
    transition all 0.15s ease-in 0s

    a
      color blue-accent
      padding 0 5px

  .menu-item:hover
      background blue-accent
      color white
      a
        color white
  
  .menu-item a:hover
    color white
    background blue-accent

  .login-link-and-dropdown-list
    cursor pointer
    a
      cursor pointer

header.index-header.logged-in
  #login-dropdown-list
    top 56px
    right 24px

  #login-dropdown-list:after
    left 149px

  #login-dropdown-list:before
    left 149px

#login-password-label-and-input, #login-username-or-email-label-and-input, #login-username-label-and-input, #login-email-label-and-input, #forgot-password-email-label-and-input, .accounts-dialog .message, .accounts-dialog .login-button
  padding 0 20px

.login-close-text
  float left
  position relative
  padding-bottom 8px

.login-close-text-clear
  clear both

#login-buttons.login-buttons-dropdown-align-right .login-close-text
  float right

/* Auth form buttons
==================== */
header
  .avatar
    width 24px
    height 24px
    margin-left 12px

/* Import button
================ */

input.import-file-input
  display none

/* Index header
=============== */

header.index-header
  .search-wrapper
    position fixed
    display block
    height 15px
    top 50%
    left 50%
    width 620px
    margin-left -323px
    visibility visible
    background transparent
    color #444
    border-width 0 2px 2px 2px
    border-style solid
    border-color rgba(20,20,20,0.8)
    padding 0 10px

    .label
      display none

    .search-form
      display block
      margin-top -26px

      .search-button
        display none

      input
        position relative
        height 40px
        width 616px
        font-size 24px
        background transparent

      input::-webkit-input-placeholder
          font-family "Source Sans Pro", sans-serif
          color rgba(20,20,20,0.8)

      input::-moz-placeholder
          font-family "Source Sans Pro", sans-serif
          color rgba(20,20,20,0.8)

  .search-wrapper:hover
    background transparent

  .container
    background-color transparent

  .drop-files-to-import
    text-align center
    cursor pointer

  ul.top-menu
    a
      cursor pointer

    li > a, li a.login-link-text
      font-size 14px
      font-weight 600
      line-height 14px
      padding 8px 20px
      margin-top 15px
      margin-right 15px
      color rgb(255,255,255)
      background bg-blue
      border 1px solid border-blue
      border-radius 3px
      transition 0.2s

    li > a:hover, li a.login-link-text:hover
      background hover-blue

    li a.login-link-text
      margin-right 25px
      color white

  .avatar
    margin-top -5px
    margin-bottom -5px
    vertical-align top

header.no-index-header
  .search-wrapper
    position relative
    display block

  .container
    .progress-bar
      background #2dc7ff
      bottom -2px
      height 2px
      position absolute

