@import 'variables.import'

.item-list
  .highlight.catalog-item
    .details
      blockquote
        border-left none
        padding 10px
        background-color transparent
        transition background-color 0.2s
        font-weight 300

    &:hover
      .details
        blockquote
          background-color  highlight-color
