@import 'variables.import'

.imports-table
  margin auto
  width 100%

  .imports-cell
    padding 0 5px

  .name-cell
    width 50%

  .progress-cell
    width 25%

  .status-cell
    width 20%

  .cancel-cell
    width 5%

.drop-overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  /* Higher than header */
  z-index 6000
  background black-translucent

  .content
    position relative
    top 40%
    width 80%
    margin auto
    text-align center
    color white

.imports-overlay
  .content
    top 20%

  .imports
    color white
    position relative
    top 25%
    height 45%
    width 80%
    margin auto
    overflow-y scroll

.import-progress-bar
  background green
  height 8px
  margin-bottom 3px

.canceled
  border-width 0

  .cancel-white
    color white 
