import 'variables.import'

table
  .imports-table
    text-align left
    margin auto
    width 100%

th
  .imports-headers
    font-weight 300

.name-cell
  width 50%

.progress-cell
  width 25%

.status-cell
  width 20%

.cancel-cell
  text-align right 
  width 5%

.drop-overlay
  font-weight 100
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  /* Higher than header */
  z-index 6000
  background black-translucent

  .content
    position relative
    top 30%
    width 50%
    margin auto
    text-align center
    color white

.import-progress-bar
  background green
  height 8px
  margin-bottom 3px

.canceled
  color white

.canceled.invisible
  visibility hidden
