section.index
  margin-top: 45px

  .search-input
    width: 400px

.landing
    height: 800px

.presentation ul
  margin: 0
  list-style: none

  li
    padding: 0
    text-align: center
    margin: 50% 0
    font-size: 40px