section.index
  margin-top: 45px

  .search-input
    width: 400px

.landing
    height: 600px

.presentation
  margin: auto
  width: 475 px

  h1
    text-align: center
    margin-top: 50px

  p
    font-size: 18px
    text-align: justify

  ul
    font-size: 18px
    list-style: none
