@import 'variables.import'

.landing
  canvas
    width 100%
    height 100%
    top 0
    left 0
    position absolute
    z-index -1 

.big-logo
  position fixed 
  width 300px
  height auto
  top 145px
  left 50%
  margin-left -161px
  text-align center
  padding 10px
  background transparent
  cursor default
  //border 2px solid rgba(20,20,20,0.8)
  //border-radius 10px

  h1
    font-family "Fira Sans", sans-serif
    font-size 50px
    font-weight 300
    color rgba(20,20,20,0.8) 
    margin 0
    user-select none

.statistics
  width auto
  height: auto
  margin 0
  padding 0
  position fixed
  bottom 0
  left 50%
  margin-left -363px
  list-style none

  li
    display inline-block
    float left
    position relative
    text-align center
    width 120px
    height 70px
    margin 0
    padding 20px 0
    vertical-align middle
    border-right 2px solid rgba(40,40,40,0.2)

    a
      color black
      transition color 0.2s

    a:hover
      color blue-accent
      text-decoration none

    .label, .value
      display block

    .label
      font-weight 600

    .value
      font-weight 300
      font-size 40px
    
  li:last-child
    border 0

.background-pause
  position absolute
  z-index 5001
  top 20px
  left 25px

  button
    background none
    border 1px solid border-blue
    border-radius 50%
    color bg-blue
    font-size 28px
    line-height 28px
    width 28px
    height 28px
    overflow hidden
    padding 0
    opacity 0.2

    &::before
      margin -1px

    &:hover
      background none
      opacity 1
