section.library
  padding-top: 60px


  .collections

    h3
      font-weight 300


.collections-list
  list-style none
  padding 0

.collection-listing
  background white
  padding 10px 15px
  margin 10px 0 10px 1px
  border-radius 2px
  box-shadow 0 0 0 1px box-shadow-border

  h3
    margin: 0 0 0.2em 0