@import 'variables.import'

section.library
  margin-top simple-margin-top

  h1
    margin-top 0

.library-collections
  margin-top 16px

  .no-collections
    margin-top 26px

  .drag-publications-hint
    margin -15px 20px 25px

.library-collections-wrapper.fixed
  position fixed
  width 94%
  margin 0 auto

.collections-list
  list-style none
  padding 0

.collection-listing
  background white
  padding 10px 15px
  margin 10px 0 10px 1px
  border-radius 2px
  box-shadow 0 0 0 1px rgba(14,41,57,0.12)
  transition 0.2s

  h3
    margin 0 0 0.2em 0

.collection-listing:hover
  box-shadow 0 0 0 1px rgba(14,41,57,0.12), 0 2px 5px rgba(14,41,57,0.34)

.collection-listing.droppable-active
  box-shadow inset 0 0 0 1px rgba(14,41,57,0.12), inset 0 0 5px rgba(14,41,57,0.34)

.collection-listing.droppable-hover
  background blue