@import 'variables.import'

.notifications-menu
.item-list
  .notification
    .type-icon
      position absolute
      display table
      text-align center
      background blue-accent
      color white

      &::before
        display table-cell
        vertical-align middle
        box-sizing border-box

    .message-wrapper
      display table
      width 100%

      .message
        display table-cell
        vertical-align middle

    &.read
      .type-icon
        background-color box-shadow-border

.notifications-menu
  width 400px
  color black
  line-height normal

  .mark-all-as-read
    float right
    margin 5px
    font-size 12px

  .view-all
    margin 10px 15px
    display inline-block
    font-size 13px

  .notifications
    list-style none
    padding 0
    margin 0
    font-size 14px
    clear both
    overflow-y scroll

    .notification
      position relative
      line-height 18px
      padding 10px 35px 10px 60px

      .type-icon
        left 15px
        top 10px
        width 30px
        height 30px
        font-size 16px

      .message-wrapper
        min-height 30px
        transition all 0.2s

        &:hover
          text-decoration none

      .inline-item
        font-size 14px
        height auto
        line-height 18px

      .mark-as-read
        display none
        position absolute
        right 5px
        top 50%
        margin-top -16px
        font-size 12px

      &:hover
        background box-shadow-border

        .mark-as-read
          display block
          opacity 0.3

          &:hover
            opacity 1

      &.read
        .message
          color black

.item-list
  .notification.catalog-item
    padding 20px 50px 20px 90px

    .type-icon
      left 20px
      top 20px
      cursor pointer
      margin-right 15px
      transition border-color 0.2s
      border solid 1px box-shadow-border
      border-radius 2px
      width 50px
      height 50px
      font-size 18px

    .message-wrapper
      display table
      min-height 50px

      .message
        display table-cell
        vertical-align middle
        color blue-accent

    .toolbar
      position absolute
      top 20px
      right 20px
      float none

    &.read
      .type-icon
        background-color box-shadow-border

      .message
        color black

    &:hover
      .type-icon
        border-color box-shadow-shadow
