@import 'variables.import'

.item-list
  .publication.catalog-item
    padding 20px

    .thumbnail
      float right
      cursor pointer
      display inline-block
      width 95px
      border solid 1px box-shadow-border
      transition border-color 0.2s
      border-radius 2px
      margin-left 20px
      overflow hidden

    .thumbnail > img
      width 90px
      height auto
      float right

    &:hover .thumbnail
      border-color box-shadow-shadow

    .authors
      list-style none
      margin 0
      padding 0
      display inline

      li
        display inline-block
        margin 0 10px 10px 0

        .inline-item
          font-size 14px

    .library-menu.dropdown
      padding 10px
      right 0
      left auto
      width 300px

      .icon
        display none

    .abstract
      display none

      .abstract-content
        margin 20px 0 0 0

    .article-summary
      .article-summary-data
        display inline-block
        float left
        width 85%

        .authors span::after
          content ","

        .authors span:last-child::after
          content ""

    ul.scrubber
      margin 0
      width 95px
      height 125px

      li
        display none
