/* Search sidebar
================= */

.sidebar-search
  margin-top -8px
  min-height 640px
  top 0
  bottom 0

  span.filter
    margin-bottom 20px
    display block

  .label-slider
    display inline-block
    float left
    width 120px

  input#score, input#publication-date
    border 0
    float right
    width 100px
    display block
    padding-top 1px
    text-align right

  #score-range, #date-range
    display block
    margin 20px 10px
    width 230px

@media screen and (max-width: 1140px)
  .sidebar-search
    position relative