/* search sidebar
================= */
.search-sidebar
  position: relative
  margin-top: 75px
  padding: 10px
  border-left: 1px solid #dee7e9
  padding-bottom: 30px
  min-height: 600px
  top: 0
  bottom: 0

.search-sidebar h3
  font-weight: 300
  margin-top: 0

.search-sidebar span.filter
  margin-bottom: 20px
  display: block

.search-sidebar label
  display: block
  margin-bottom: 10px
  font-size: 0.9em
  font-weight: 300

.search-sidebar select
  width: 241px

.search-sidebar input
  display: block
  width: 227px
  padding: 5px
  font-size: 13px
  border: 1px solid #aaa

.search-sidebar input:focus
  border: 1px solid #a1b3c2

.search-sidebar .label-slider
  display: inline-block
  float: left
  width: 120px

.search-sidebar input#score, .search-sidebar input#pub-date
  border: 0
  float: right
  width: 100px
  display: block
  padding-top: 1px
  text-align: right

.search-sidebar #score-range, .search-sidebar #date-range
  display: block
  margin: 20px 10px
  width: 230px

@media screen and (max-width: 1140px)
  .search-sidebar
    position: relative