@import 'variables.import'

#tei_wrapper
  /* Should not have any margin or padding, because otherwise
     highlight position calculation is wrong */
  user-select text

  body
    width auto
    min-width 0
    max-width none
    background transparent
    margin 5px
