@import variables

/* Viewer
========= */

#viewer
  width 100%
  height 100%
  overflow-x hidden
  position relative
  padding-top 60px

  .display
    height 100%

    .display-wrapper
      /* We disable selection so that user cannot select anything between pages */
      user-select none
      -webkit-user-select none
      -moz-user-select none
      -o-user-select none
      -ms-user-select none

      .display-page
        position relative
        margin-left auto
        margin-right auto
        margin-bottom 20px
        text-align center

        canvas
          background rgba(255,255,255,1.0)

        .loading
          position absolute
          left 50%
          top 50%
          height 10em
          width 10em
          margin-left -5em
          margin-top -5em
          line-height 10em
          background-image url("/packages/pdf.js/pdf.js/web/images/loading-icon.gif")
          background-position 50% 50%
          background-repeat no-repeat
          text-align center

        .display-canvas-loading
          width 400px
          height 400px

        .text-layer-dummy
          position absolute
          color transparent
          top 0
          left 0
          width 100%
          // To be able to detect overflow and scale text
          // we do not set height and we set overflow to visible
          overflow visible

/* Meta menu
============ */

.meta-menu
  position fixed
  cursor pointer
  width 28px
  height 22px
  left 20px
  padding 10px
  background #cececf
  border-radius 2px
  z-index 100
  transition 0.2s
  overflow hidden

  a
    color white

  i.icon-menu
    font-size 20px
    color white

  .meta-description
    display none
    color white
    padding 5px

    .authors
      span:after
        content ","

      span:last-child:after
        content ""

.meta-menu:hover
  background rgba(46,46,44,0.5)
  width 300px
  min-height 420px

  .meta-description
    display block

/* Annotations
============== */

.annotations
  position absolute
  z-index 100
  right 20px
  width 300px

  ul.annotations-list
    list-style none

    li
      background white
      padding 20px
      margin 10px 0
      border-radius 2px
      box-shadow 0 0 0 1px rgba(14,41,57,0.12)
      transition 0.2s

    li:hover
      box-shadow 0 0 0 1px rgba(14,41,57,0.12), 0 2px 5px rgba(14,41,57,0.34)

  .annotation:hover
    background-color rgba(255,0,0,0.3)

/* Debugging PDF parsing
======================== */

#viewer .display-page
  .segment, .paragraph
    position absolute

  .text-segment
    background-color rgba(180,170,0,0.2)
    color rgba(230,20,20,0.4)
    line-height 1
    white-space pre
    cursor text

    /* We re-enable selection for text segments */
    user-select text
    -webkit-user-select text
    -moz-user-select text
    -o-user-select text
    -ms-user-select text

  .image-segment
    background-color rgba(240,110,0,0.2)

  .paragraph
    background-color rgba(0,110,180,0.2)

/* Highlighting
=============== */

#viewer .display-page .highlight
  position absolute
  background-color rgba(255,0,0,0.3)
