@import variables

section.publication
  padding-top header-height

  .container
    margin 0
    width 100%

/* Meta menu
============ */

/* Have to be defined here because we are using them in meta menu as well */
scroller-width = 64px
scroller-left = 12px
scroller-bottom = 20px

meta-menu-width = 28px
meta-menu-height = 22px
meta-menu-padding = 10px
meta-menu-top = header-height + 15px
meta-menu-left = (scroller-left + (scroller-width - meta-menu-width - 2 * meta-menu-padding) / 2)
meta-menu-icon-font-size = 20px

.meta-menu
  position fixed
  cursor pointer
  width meta-menu-width
  height meta-menu-height
  top meta-menu-top
  left meta-menu-left
  padding meta-menu-padding
  background #cececf
  border-radius 2px
  z-index 100
  transition 0.2s
  /* We limit only to those we use in hover so that we do not animate
     by accident highlight control as we move them around from one
     highlight to another */
  transition-property background, width, min-height
  overflow hidden

  a
    color white

  i.icon-menu
    font-size meta-menu-icon-font-size
    color white

  .meta-content
    display none
    color white
    padding 5px
    overflow-x hidden
    overflow-y auto

    .authors
      span::after
        content ","

      span:last-child::after
        content ""

.meta-menu:hover
  background rgba(46,46,44,0.5)
  width 300px
  min-height 420px

  .meta-content
    display block

/* Scroller
=========== */

.scroller
  position fixed
  width scroller-width
  top meta-menu-top + meta-menu-height + 2 * meta-menu-padding + 20px
  left scroller-left
  bottom 20px
  z-index 50

  .section
    position absolute
    width 48px
    left 8px
    background #eee
    border: 1px solid light-grey

  .section:hover
    background rgba(46,46,44,0.12)

  .viewport
    position absolute
    width 100%
    background rgba(46,46,44,0.12)
    border-radius 2px
    z-index 60

/* Viewer
========= */

viewer-left = scroller-width + 2 * scroller-left
viewer-top = meta-menu-top - header-height

small-meta-menu-width = 20px
small-meta-menu-height = 18px
small-meta-menu-padding = 5px
small-meta-menu-icon-font-size = 13px

.viewer
  .display-wrapper
    /* Initially we set it to display-canvas-loading width and
       then in code we update it to real width based on the PDF */
    width display-canvas-loading-width
    margin-left viewer-left
    margin-top viewer-top
    /* We disable selection so that user cannot select anything between pages (in Firefox) */
    user-select none

    .display-page
      position relative
      /* Has to be set otherwise there is 4px of additional height to display-page */
      line-height 0
      margin-bottom 20px

      .display-canvas
        background rgba(255,255,255,1.0)

      .display-canvas-loading
        width display-canvas-loading-width
        height display-canvas-loading-height

      .highlights-canvas
        position absolute
        left 0
        top 0

      .highlights-layer, .text-layer, .highlights-control
        color transparent

      .highlights-layer
        .highlights-layer-segment
          position absolute
          background-color highlight-color

        .highlights-layer-highlight.selected .highlights-layer-segment
          background-color transparent

      .text-layer
        line-height 1
        white-space pre
        cursor text
        overflow hidden
        position absolute
        left 0
        top 0
        width 100%
        height 100%

        .text-layer-segment
          position absolute

          /* We re-enable selection for text layer */
          user-select text

      .highlights-control
        line-height default-line-height

        .meta-menu
          position absolute
          display none
          width small-meta-menu-width
          height small-meta-menu-height
          padding small-meta-menu-padding
          z-index 200

          i.icon-menu
            font-size small-meta-menu-icon-font-size

        .meta-menu:hover
          width 150px
          min-height 220px

      .loading
        position absolute
        left 50%
        top 50%
        height 10em
        width 10em
        margin-left -5em
        margin-top -5em
        line-height 10em
        background-image url("/packages/pdf.js/pdf.js/web/images/loading-icon.gif")
        background-position 50% 50%
        background-repeat no-repeat
        text-align center

      .text-layer-dummy
        line-height default-line-height
        position absolute
        color transparent
        cursor default
        top 0
        left 0
        width 100%
        /* To be able to detect overflow and scale text
           we do not set height and we set overflow to visible */
        overflow visible

/* Debugging PDF parsing
======================== */

.viewer .display-page
  .segment
    position absolute

  .text-segment
    background-color rgba(180,170,0,0.2)
    color rgba(230,20,20,0.4)
    line-height 1
    white-space pre
    cursor text

    /* We re-enable selection for text segments */
    user-select text

  .image-segment
    background-color rgba(240,110,0,0.2)

/* Annotations
============== */

annotations-left = meta-menu-left
annotations-right = meta-menu-left
annotations-control-height = 28px

.annotations-control
  background #cececf
  border-radius 2px
  height annotations-control-height
  z-index 90
  position fixed
  /* Initially we set it based on display-canvas-loading width and
     then in code we update it to real width based on the PDF */
  left viewer-left + display-canvas-loading-width + annotations-left
  right annotations-right
  top meta-menu-top

  .add
    background #cececf
    border none
    border-radius 2px
    font-size 20px
    color white
    width 28px
    height 28px

  .add:hover
    background rgba(46,46,44,0.5)

  .add:active, .add:focus
    outline none
    border none

.annotations
  list-style none
  margin 0
  padding 0
  overflow auto
  position fixed
  z-index 90
  /* Initially we set it based on display-canvas-loading width and
     then in code we update it to real width based on the PDF */
  left viewer-left + display-canvas-loading-width + annotations-left
  /* To not crop the shadow of annotations we move the right edge
     for 5px to the right and then add 5px right margin to each
     annotation */
  right annotations-right - 5px
  top meta-menu-top + annotations-control-height + 10px
  bottom 15px

  .annotation
    position relative
    display block
    background white
    padding 20px
    /* To not crop the shadow of annotations we move the right edge
       for 5px to the right and then add 5px (in fact 6px, so that
       it looks better with our 1px shadow border) right margin to each
       annotation. Additionally, we add left margin to provide space
       for meta menu. */
    margin 10px 6px 10px (small-meta-menu-width + 2 * small-meta-menu-padding + 5px)

    /* Style used in pdf-text-highlight.coffee as well, keep it in sync */
    border-radius 2px
    box-shadow 0 0 0 1px box-shadow-border
    transition 0.2s

    .meta-menu
      position absolute
      width small-meta-menu-width
      height small-meta-menu-height
      padding small-meta-menu-padding
      z-index 200
      top 0
      left initial
      right 100%
      margin-right 5px

      i.icon-menu
        font-size small-meta-menu-icon-font-size
        float right
        /* No idea why 1px margin is needed with float right but it is not
           positioned the same with and without float in initial closed
           state (but it should be) */
        margin-top 1px
        margin-right 1px

    .meta-menu:hover
      width 150px
      min-height 220px

  .annotation:hover
      /* Style used in pdf-text-highlight.coffee as well, keep it in sync */
      box-shadow 0 0 0 1px box-shadow-border, 0 2px 5px box-shadow-shadow

  /* We use only 1px here to still have shadow border visible, but not 5px
     top margin which makes visible lower than the crop top line when
     scrolling. Otherwise when you have an initial list of annotations and
     you scroll down there is 5px lag before annotation is cropped. With 1px
     we fake things to look more or less normal, with shadow border, but
     there it is not noticeable that cropping does not happen immediately. */
  .annotation:first-child
    margin-top 1px

/* Footer
========= */

footer.publication
  /* Initially we set it to display-canvas-loading width and
     then in code we update it to real width based on the PDF */
  width display-canvas-loading-width
  margin-left viewer-left
