@import 'variables.import'

@font-face
  font-family 'Fira Sans'
  src url('/fonts/FiraSans-Regular.eot')
  src url('/fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans-Regular.woff') format('woff'), url('/fonts/FiraSans-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Fira Sans'
  src url('/fonts/FiraSans-Italic.eot')
  src url('/fonts/FiraSans-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans-Italic.woff') format('woff'), url('/fonts/FiraSans-Italic.ttf') format('truetype')
  font-weight normal
  font-style italic

@font-face
  font-family 'Fira Sans'
  src url('/fonts/FiraSans-Bold.eot')
  src url('/fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans-Bold.woff') format('woff'), url('/fonts/FiraSans-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'Fira Sans'
  src url('/fonts/FiraSans-Light.eot')
  src url('/fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans-Light.woff') format('woff'), url('/fonts/FiraSans-Light.ttf') format('truetype')
  font-weight 300
  font-style normal



/* General
========== */

html, button, input, select, textarea
  color #22
  -webkit-font-smoothing antialiased

body
  font 14px "Fira Sans", sans-serif
  line-height default-line-height
  margin 0 auto
  background light-grey // Keep in sync with public/css/initial.css
  -webkit-font-smoothing antialiased

::-moz-selection
  background selection-color
  text-shadow none

::selection
  background selection-color
  text-shadow none

:focus 
  outline none

::-moz-focus-inner 
  border 0

hr
  display block
  height 1px
  border 0
  border-top 1px solid #dee7e9
  margin 1em 0
  padding 0

img
  vertical-align middle

fieldset
  border 0
  margin 0
  padding 0

button
  font-family "Fira Sans", sans-serif

textarea
  resize vertical

  font-weight: normal;
.chromeframe
  margin 0.2em 0
  background #dee7e9
  color #000
  padding 0.2em 0

a, ul.top-menu li .search-wrapper .development-comment a
  display inline
  padding 0
  color blue-accent
  text-decoration none

a:hover
  text-decoration underline

ul.top-menu li .search-wrapper .development-comment a:hover
  text-decoration underline !important

h2
  font-size 18px
  font-weight 300
  margin 18px 0

h3
  font-size 16px
  margin 10px 0

h2:first-child, h3:first-child
  margin-top 0

input
  font-family "Fira Sans", sans-serif
  outline none

.balance-text
  text-align center

blockquote
  border-left 4px solid #ddd
  padding 0 15px
  margin-left 0
  margin-right 0

section
  margin-top section-margin-top
  margin-bottom 30px

  .loading, .not-found
    text-align center

dl ul
  margin 0

/* Buttons
========== */

.btn
  height 32px
  font-size 14px
  line-height 24px
  padding 0 11px
  color #444
  background white
  border 1px solid #ccc
  border-radius 2px
  font-weight normal
  cursor pointer 

.btn:hover
  background #e3e3e3

.btn.blue
  background bg-blue
  border 1px solid border-blue
  color white
  
.btn.blue:hover
  background hover-blue

/* Helper classes
================= */
.ir
  background-color transparent
  border 0
  overflow hidden
  *text-indent -9999px

.ir::before
  content ""
  display block
  width 0
  height 150%

.pull-left
  display inline-block!important
  float left!important

.pull-right
  display inline-block!important
  float right!important

.hidden
  display none!important
  visibility hidden

.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

.invisible
  visibility hidden

.clearfix::before, .clearfix::after
  content ""
  display table

.clearfix::after
  clear both

.clearfix
  *zoom 1

/* Hints
======== */
.hint
  font-style italic
  opacity 0.7

/* Grid correction
================== */

/* Current grid implementation uses the overflow:auto trick to resize the container (row) to all its floated
   children (cols). This is a problem for overlays (popups) that need to expand beyond the content.

   The overflow:auto trick was designed to overcome explorer's lack of pseudo-elements. Since this is not an issue for us,
   we correct the grid behavior to use an ::after element that clears the floats and resizes the container. */

.row
  overflow visible

.row::after
  content ""
  display block
  clear both

