@import nib

/* Colors
========= */

blue = #338ed5
blue-accent = #2270ab
black-translucent = rgba(24,24,24,0.9)
light-grey = #f6f8f8

selection-color = rgba(179,212,252,0.2)
highlight-color = rgba(180,170,0,0.2)

/* Style used in pdf-text-highlight.coffee as well, keep it in sync */
box-shadow-border = rgba(14,41,57,0.12)
box-shadow-shadow = rgba(14,41,57,0.34)

/* Sizes
======== */

header-height = 45px

display-canvas-loading-width = 400px
display-canvas-loading-height = 400px

default-line-height = 1.2