@import nib

/* Colors
========= */

blue = #338ed5
blue-accent = #2270ab
black-translucent = rgba(24,24,24,0.9)
light-grey = #f6f8f8

/* Sizes
======== */

header-height = 45px

display-canvas-loading-width = 400px
display-canvas-loading-height = 400px
