<template name="about">
  <div class="simple">
    <h2>About PeerLibrary</h2>

    <h3>Find. Explore. Organize.</h3>
    <ul>
      <li><strong>Find</strong> the articles you’re looking for.</li>
      <li><strong>Explore</strong> related research.</li>
      <li><strong>Organize</strong> your library and your thoughts.</li>
    </ul>
    <h3>Collaborate</h3>
    <p>
      <strong>Participate</strong> in open discussion that drives ideas and
      academia forward. PeerLibrary is a friendly environment to share insights and
      exchange feedback to <strong>facilitate innovative research</strong>.
    </p>

    <p>
      We provide a collaborative layer of knowledge on top of academic
      publications. See and <strong>share</strong> real-time <strong>highlights
      </strong> and <strong>annotations</strong> with the world, a group you're
      working with, or keep them private.
    </p>

    <h3>Learn</h3>
    <p>
      PeerLibrary provides a supportive space to learn about research and
      <strong>ask questions</strong> of peers and experts.
    </p>

    <p>
      Follow authors and other users to understand their perspectives,
      make connections, and discover new ideas.
    </p>

    <h3>Be Open</h3>
    <p class="tagline">Open knowledge. Open access. Open source.</p>
    <p>
      At PeerLibrary, we believe that knowledge should be open and
      <strong>accessible</strong>.
    </p>

    <h2>Team</h2>
    
    <p>
       Built for you with love and passion by the <a href="https://github.com/peerlibrary/peerlibrary/graphs/contributors">open source community</a>. Join us.
    </p>

    <ul class="team-members">
      
      <li class="member h-card">
        <img class="u-photo" src="/img/headshots/annaswigart.jpg" alt="Anna Swigart">
        <div class="name p-name">Anna Swigart</div>
      </li>

      <li class="member h-card">
        <a class="u-url" href="http://www.cs.berkeley.edu/~dawnsong">
          <img class="u-photo" src="/img/headshots/dawnsong.jpg" alt="Dawn Song">
          <div class="name p-name">Dawn Song</div>
        </a>
      </li>

      <li class="member h-card">
        <img class="u-photo" src="/img/headshots/marinpranjic.png" alt="Marin Pranjić">
        <div class="name p-name">Marin Pranjić</div> 
      </li>

      <li class="member h-card"> 
        <a class="u-url" href="http://matejjan.com">
          <img class="u-photo" src="/img/headshots/matejjan.jpeg" alt="Matej Jan">
          <div class="name p-name">Matej Jan</div>
        </a>
      </li>

      <li class="member h-card"> 
        <a class="u-url" href="http://mitar.tnode.com">
          <img class="u-photo" src="/img/headshots/mitarmilutinovic.jpg" alt="Mitar Milutinovic">
          <div class="name p-name">Mitar Milutinovic</div>
        </a>
      </li>

      <li class="member h-card">
        <a class="u-url" href="http://www.opalkale.com">
          <img class="u-photo" src="/img/headshots/opalkale.jpg" alt="Opal Kale">
          <div class="name p-name">Opal Kale</div>
        </a>
      </li>

      <li class="member h-card">
        <a class="u-url" href="http://ochigame.org">
          <img class="u-photo" src="/img/headshots/rodrigoochigame.jpg" alt="Rodrigo Ochigame">
          <div class="name p-name">Rodrigo Ochigame</div>
        </a>
      </li>

      <li class="member h-card">
        <a class="u-url" href="http://www.ocf.berkeley.edu/~hitch">
          <img class="u-photo" src="/img/headshots/spencerhitchcock.png" alt="Spencer Hitchcock">
          <div class="name p-name">Spencer Hitchcock</div>
        </a>
      </li>
      
      <li class="member h-card">
        <img class="u-photo" src="/img/headshots/tiantongqin.png" alt="Tiantong Qin">
        <div class="name p-name">Tiantong Qin</div> 
      </li>
      
      <li class="member h-card">
        <img class="u-photo" src="/img/headshots/vjekoslavgiacometti.jpg" alt="Vjekoslav Giacometti">
        <div class="name p-name">Vjekoslav Giacometti</div>
      </li>
      
      <li class="member h-card">
        <img class="u-photo" src="/img/headshots/weiqiaohan.gif" alt="Weiqiao Han">
        <div class="name p-name">Weiqiao Han</div>
      </li>       

      <li class="member h-card">
        <img class="u-photo" src="/img/headshots/xuananho.jpg" alt="Xuan An Ho">
        <div class="name p-name">Xuan An Ho</div>
      </li>
    
    </ul>

    <h2>Partners</h2>

    <ul class="partners">
      <li><a href="http://berkeley.edu/"><img src="/img/berkeley.png" alt="UC Berkeley" height="100" /></a></li>
      <li><a href="http://bid.berkeley.edu/"><img src="/img/bid.png" alt="Berkeley Institute of Design" height="100" /></a></li>
      <li><a href="https://archive.org/"><img src="/img/internet-archive.png" alt="Internet Archive" height="100" /></a></li>
      {{! <li><a href="http://hypothes.is/"><img src="/hypothesis.png" alt="Hypothes.is" /></a></li> }}
      <li><a href="http://www.mendeley.com/"><img src="/img/mendeley.png" alt="Mendeley" height="50" /></a></li>
      {{! <li><a href="http://www.crossref.org/"><img src="/crossref.png" alt="CrossRef" /></a></li> }}
    </ul>

    <div class="clearfix"></div>

    <hr />

    <p>Running version {{VERSION}}.</p>
  </div>
</template>
