<template name="about">
  <div class="simple">
    <h2>About PeerLibrary</h2>

    <h3>Find. Explore. Organize.</h3>
    <ul>
      <li><strong>Find</strong> the articles you’re looking for.</li>
      <li><strong>Explore</strong> related research.</li>
      <li><strong>Organize</strong> your library and your thoughts.</li>
    </ul>
    <h3>Collaborate</h3>
    <p>
      <strong>Participate</strong> in open discussion that drives ideas and
      academia forward. PeerLibrary is a friendly environment to share insights and
      exchange feedback to <strong>facilitate innovative research</strong>.
    </p>

    <p>
      We provide a collaborative layer of knowledge on top of academic
      publications. See and <strong>share</strong> real-time <strong>highlights
      </strong> and <strong>annotations</strong> with the world, a group you're
      working with, or keep them private.
    </p>

    <h3>Learn</h3>
    <p>
      PeerLibrary provides a supportive space to learn about research and
      <strong>ask questions</strong> of peers and experts.
    </p>

    <p>
      Follow authors and other users to understand their perspectives,
      make connections, and discover new ideas.
    </p>

    <h3>Be Open</h3>
    <p class="tagline">Open knowledge. Open access. Open source.</p>
    <p>
      At PeerLibrary, we believe that knowledge should be open and
      <strong>accessible</strong>.
    </p>

    <h2>Team</h2>
    
    <p>
       Built for you with love and passion by the <a href="https://github.com/peerlibrary/peerlibrary/graphs/contributors">open source community</a>. Join us.
    </p>
   
    <div id= "images">
    <a href="http://www.cs.berkeley.edu/~dawnsong/">
    <img src="/img/headshots/dawnsong.jpg">
    <div class="caption">Dawn Song</div>
    </a>
    
    <a>
    <img src="/img/headshots/marinpranjic.png">
    <div class="caption">Marin Pranjić</div>
    </a> 

    <a href="http://matejjan.com">
    <img src="/img/headshots/matejjan.jpeg">
    <div class="caption">Matej Jan</div>
    </a>
    
    <a href="http://mitar.tnode.com/">
    <img src="/img/headshots/mitarmilutinovic.jpg">
    <div class="caption">Mitar Milutinovic</div>
    </a>
    
    <a href="http://www.opalkale.com">
    <img src="/img/headshots/opalkale.jpg">
    <div class="caption">Opal Kale</div>
    </a>

    <a href="http://ochigame.org">
    <img src="/img/headshots/rodrigoochigame.jpg">
    <div class="caption">Rodrigo Ochigame</div>
    </a>

    <a href="http://www.ocf.berkeley.edu/~hitch">
    <img src="/img/headshots/spencerhitchcock.png">
    <div class="caption">Spencer Hitchcock</div>
    </a>

   
    <a>
    <img src="/img/headshots/tiantongqin.png">
    <div class="caption">Tiantong Qin</div>
    </a> 
   
    <a>
    <img src="/img/headshots/vjekoslavgiacometti.jpg">
    <div class="caption">Vjekoslav Giacometti</div>
    </a> 

    <a>
    <img src="/img/headshots/weiqiaohan.gif">
    <div class="caption">Weiqiao Han</div>
    </a> 
   
    <a>
    <img src="/img/headshots/xuananho.jpg">
    <div class="caption">Xuan An Ho</div>
    </a> 

</div>

<h2>Partners</h2>

    <ul class="partners">
      <li><a href="http://berkeley.edu/"><img src="/img/berkeley.png" alt="UC Berkeley" height="100" /></a></li>
      <li><a href="http://bid.berkeley.edu/"><img src="/img/bid.gif" alt="Berkeley Institute of Design" height="100" /></a></li>
      <li><a href="https://archive.org/"><img src="/img/internet-archive.png" alt="Internet Archive" height="100" /></a></li>
      {{! <li><a href="http://hypothes.is/"><img src="/hypothesis.png" alt="Hypothes.is" /></a></li> }}
      <li><a href="http://www.mendeley.com/"><img src="/img/mendeley.png" alt="Mendeley" height="50" /></a></li>
      {{! <li><a href="http://www.crossref.org/"><img src="/crossref.png" alt="CrossRef" /></a></li> }}
    </ul>

    <div class="clearfix"></div>

    <hr />

    <p>Running version {{VERSION}}.</p>
  </div>
</template>
