<template name="_loginButtonsLoggedInDropdown">
  <div class="login-link-and-dropdown-list dropdown-trigger">
    <a class="login-link-text" id="login-name-link">
      {{currentPerson.displayName}} {{> personAvatar currentPerson}}
    </a>

    {{#if dropdownVisible}}
      <div class="dropdown-anchor">
        <div id="login-dropdown-list" class="accounts-dialog dropdown">
          <div class="login-close-text-clear"></div>

          {{#if inMessageOnlyFlow}}
            {{> _loginButtonsMessages}}
          {{else}}
            {{#if inChangePasswordFlow}}
              {{> _loginButtonsChangePassword}}
            {{else}}
              {{> _loginButtonsLoggedInDropdownActions}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</template>

<template name="_loginButtonsLoggedOutDropdown">
  <div class="login-link-and-dropdown-list {{additionalClasses}}">
    {{#if dropdownVisible}}
      {{!
        This text is covered by the dropdown, but duplicating it here
        makes the position of "Close" match the position of this text.
      }}
      <a class="login-link-text" id="login-sign-in-link">Sign in</a>
      <div id="login-dropdown-list" class="accounts-dialog dropdown">
        {{#if loggingIn}}
          {{> _loginButtonsLoggingIn}}
        {{/if}}
        <div class="login-close-text-clear"></div>
        {{> _loginButtonsLoggedOutAllServices}}
      </div>
    {{else}}
      {{#if loggingIn}}
        {{! Not normally visible, but if the user closes the dropdown during login }}
        {{> _loginButtonsLoggingIn}}
      {{else}}
        <a class="login-link-text" id="login-sign-in-link">Sign in</a>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="_loginButtonsLoggedInDropdownActions">
  {{! TODO: Here should come a list of links for the user and notifications }}

  <div class="menu-item">
    <a href="{{personPathFromId currentPerson._id currentPerson.slug}}">Profile</a>
  </div>

  <div class="menu-item">
    <a href="{{libraryPath}}">Library</a>
  </div>

  <div class="invite-button menu-item">
    Invite friends
  </div>

  {{#if currentPerson.isAdmin}}
    <div class="menu-item">
      <a href="{{adminPath}}">Admin dashboard</a>
    </div>
  {{/if}}

  <div class="login-button menu-item" id="login-buttons-logout">
    Sign out
  </div>

  {{> _loginButtonsMessages}}
</template>
