<template name="admin">
  <h1>Administrator</h1>
  <div class="row">
    <div class="col12">
      {{>catalog catalogSettings}}
    </div>
    {{> adminTabs}}
  </div>
</template>

<template name="adminTabs">
  <div class="col4 push12 sidebar">
    <h2>My Dashboard</h2>
      <ul class="item-list">
        
        <li class="catalog-item">
          <div class="details">
            <h2>Development</h2>
          </div>
          <a class="full-item-link" href="{{adminDevelopmentPath}}"></a>
        </li>
        
        <li class="catalog-item">
          <div class="details">
            <h2>Publications</h2>
          </div>
          <a class="full-item-link" href="{{adminPublicationsPath}}"></a>
        </li>
        
        <li class="catalog-item">
          <div class="details">
            <h2>Database</h2>
          </div>
          <a class="full-item-link" href="{{adminDatabasePath}}"></a>
        </li>
        
        <li class="catalog-item">
          <div class="details">
            <h2>Errors</h2>
          </div>
          <a class="full-item-link" href="{{adminErrorsPath}}"></a>
        </li> 
          
        <li class="catalog-item">
          <div class="details">
            <h2>Jobs</h2>
          </div>
          <a class="full-item-link" href="{{adminJobsPath}}"></a>
        </li>
          
        <li class="catalog-item">
          <div class="details">
            <h2>External Sources</h2>
          </div>
        <a class="full-item-link" href="{{adminSourcesPath}}"></a>
        </li>
       
        <li class="catalog-item">
          <div class="details">
            <h2>Blog</h2>
          </div>
          <a class="full-item-link" href="{{adminBlogPath}}"></a>
        </li>
        
        <li class="catalog-item">
          <div class="details">
            <h2>Facts</h2>
          </div>
          <a class="full-item-link" href="{{adminFactsPath}}"></a> 
        </li>
      
      </ul>
  </div>
</template>

<template name="adminCheck">
  {{#unless isAdmin}}
    <p class="warning">You are not logged in as an administrator!</p>
  {{/unless}}
</template>
