<template name="adminErrors">
  <h1>Errors</h1>
  <div class="row">
    <div class="col12">
      <div class="admin-buttons">
          <button class="dummy-error">Create a dummy error</button>
        </div>
        <h2>Error Log</h2>
        <ul class="admin-errors">
          {{#each errors}}
            {{> adminErrorsItem}}
          {{/each}}
        </ul>
      </div>
        {{> adminTabs}}
      </div>
</template>

<template name="adminErrorsItem">
  <li>
    {{errorMsg}} | <a href="view-source:{{url}}">{{url}}</a>:{{lineNumber}} | {{userAgent}} | screen {{screenWidth}}x{{screenHeight}}
    | window {{windowWidth}}x{{windowHeight}}
  </li>
</template>
