<template name="adminSources">
  <h1>External Sources</h1>
  <div class="row">
    <div class="col12">
      <div class="admin-buttons">
        <button class="sync-local-pdf-cache">Sync local PDF cache</button>
        {{> adminArXiv}}
        {{> adminFSM}}
      </div>
    </div>
    {{> adminTabs}}
  </div>
</template>

<template name="adminArXiv">
  <h2>ArXiv</h2>
  <div class="admin-buttons">
    <button class="sync-arxiv-metadata">Sync arXiv metadata</button>
    <button class="sync-arxiv-pdf-cache">Sync arXiv PDF cache</button>
  </div>
</template>

<template name="adminFSM">
  <h2>Free Speech Movement</h2>
  <div class="admin-buttons">
    <button class="sync-fsm-metadata">Sync FSM metadata</button>
  </div>
</template>
