<template name="admin">
  <div class="simple">
    {{> adminCheck}}
    {{> adminDevelopment}}
    {{> adminPublications}}
    {{> adminDatabase}}
    {{> adminErrors}}
    {{> adminSources}}
    {{> adminBlog}}
    {{> adminFacts}}
  </div>
</template>

<template name="adminCheck">
  {{#unless isAdmin}}
    <p class="warning">You are not logged in as an administrator!</p>
  {{/unless}}
</template>

<template name="adminDevelopment">
  <h2>Development</h2>
  <div class="admin-buttons">
    <button class="sample-data">Initialize database with sample data</button>
  </div>
</template>

<template name="adminPublications">
  <h2>Publications</h2>
  <div class="admin-buttons">
    <button class="process-pdfs">Process pending PDFs</button>
    <button class="reprocess-pdfs">Reprocess all PDFs</button>
  </div>
</template>

<template name="adminDatabase">
  <h2>Database</h2>
  <div class="admin-buttons">
    <button class="update-all">Update all references in documents</button>
  </div>
</template>

<template name="adminErrors">
  <h2>Errors</h2>
  <div class="admin-buttons">
    <button class="dummy-error">Create a dummy error</button>
  </div>
  <h3>Error Log</h3>
  <ul class="admin-errors">
    {{#each errors}}
      {{> adminErrorsItem}}
    {{/each}}
  </ul>
</template>

<template name="adminErrorsItem">
  <li>
    {{errorMsg}} | <a href="view-source:{{url}}">{{url}}</a>:{{lineNumber}} | {{userAgent}} | screen {{screenWidth}}x{{screenHeight}}
    | window {{windowWidth}}x{{windowHeight}}
  </li>
</template>

<template name="adminSources">
  <h2>External Sources</h2>
  <div class="admin-buttons">
    <button class="sync-local-pdf-cache">Sync local PDF cache</button>
  </div>
  {{> adminArXiv}}
  {{> adminFSM}}
</template>

<template name="adminArXiv">
  <h3>ArXiv</h3>
  <div class="admin-buttons">
    <button class="sync-arxiv-metadata">Sync arXiv metadata</button>
    <button class="sync-arxiv-pdf-cache">Sync arXiv PDF cache</button>
  </div>
  <ul>
    {{#each PDFs}}
      {{> adminArXivPDFsItem}}
    {{/each}}
  </ul>
</template>

<template name="adminArXivPDFsItem">
  <li>{{ key }}<br/>{{ lastModified }} | {{ size }} B | processing start: {{ processingStart }} | processing end: {{ processingEnd }} | PDFs: {{ PDFs.length }}</li>
</template>

<template name="adminFSM">
  <h3>Free Speech Movement</h3>
  <div class="admin-buttons">
    <button class="sync-fsm-metadata">Sync FSM metadata</button>
    <button class="sync-fsm-cache">Sync FSM cache</button>
  </div>
</template>

<template name="adminBlog">
  <h2>Blog</h2>
  <div class="admin-buttons">
    <button class="sync-blog">Sync blog</button>
  </div>
</template>

<template name="adminFacts">
  <h2>Facts</h2>
  {{> serverFacts}}
</template>
