<template name="admin">
  {{> adminButtons}}
  {{> errorTable}}
  <ul>
    {{#each arXivPDFs}}
      {{> arXivPDF}}
    {{/each}}
  </ul>
</template>

<template name="arXivPDF">
  <li>{{ key }}<br/>{{ lastModified }} | {{ size }} B | processing start: {{ processingStart }} | processing end: {{ processingEnd }} | PDFs: {{ PDFs.length }}</li>
</template>

<template name="adminButtons">
  <div class='admin-buttons' style='padding-top:300px'>
    <button class="sync-arxiv-pdf-cache">Sync arXiv PDF cache</button>
    <button class="sync-arxiv-metadata">Sync arXiv metadata</button>
    <button class="sync-local-pdf-cache">Sync local PDF cache</button>
    <button class="process-pdfs">Process pending PDFs</button>
  </div>
</template>

<template name="errorTable">
  <div class="log-table">
    <h2>Error Log</h2>
    <button class="dummy-error">Create Dummy Error</button>
    {{#each errors}}
      {{> errorTableItem}}
    {{/each}}
  </div>
</template>

<template name="errorTableItem">
  <li>{{errorMsg}} | {{lineNumber}} | {{userAgent}} | {{screenWidth}} | {{screenHeight}} |
      {{windowWidth}} | {{windowHeight}}</li>
</template>
