<template name="annotations">
  <h1>Annotations</h1>

  <div class="row">
    <div class="col12 catalog">
      {{> catalogControls catalogSettings}}
      {{> annotationsCount}}
      {{> annotationsList documents}}
      {{> annotationsLoading}}
    </div>
    {{> myAnnotations}}
  </div>
</template>

<template name="annotationsList">
  {{#if this}}
    <ol class="item-list">
      {{#each this}}
        {{> annotationCatalogItem}}
      {{/each}}
    </ol>
  {{/if}}
</template>

<template name="annotationsCount">
  {{#if documentsCount}}
    {{#if documentsFilter}}
      <p class="status">Filter matches {{countDescription}}</p>
    {{else}}
      <p class="status">Displaying {{countDescription}}</p>
    {{/if}}
  {{/if}}
  {{#if noDocuments}}
    <p class="status">
      {{#if documentsFilter}}
        Filter matches no annotations.
      {{else}}
        There are no annotations yet.
        {{#if currentPersonId}}
          Create the first by annotating one of the publications.
        {{else}}
          Sign in and create the first.
        {{/if}}
      {{/if}}
    </p>
  {{/if}}
</template>

<template name="annotationsLoading">
  {{#if documentsLoading}}
    <p class="status">Loading …</p>
  {{else}}
    {{#if moreDocuments}}
      <button class="load-more">Load more</button>
    {{else}}
      {{#if documentsCount}}
        <p class="status">No more annotations to display.</p>
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="myAnnotations">
  <div class="col4 push12 sidebar">
    {{#if currentPersonId}}
      {{! TODO: Add user's annotations? }}
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="annotationInlineItem">
    <a class="inline-item annotation"{{#unless noLink}} href="{{path}}"{{/unless}}>
      <i class="avatar only-icon icon-annotation" title="Annotation"></i>
      <span class="name"{{#if title}} title="{{title}}"{{/if}}>{{text}}</span>
    </a>
</template>

<template name="annotationCatalogItem">
  <li class="catalog-item annotation">
    <blockquote class="body">
      {{{body}}}
    </blockquote>

    <div class="details">
      <p><i class="icon-person"></i> Annotated by <span class="actionable">{{> personInlineItem author}}</span> in <span class="actionable">{{> publicationInlineItem publication}}</span></p>
      {{#if commentsCount}}
        <p><i class="icon-comment"></i> {{commentsCountDescription}}</p>
      {{/if}}
    </div>
  </li>
</template>
