<head>
  <link rel="shortcut icon" href="/img/favicon.png" />
  <link rel="stylesheet" href="/css/initial.css">
  <meta charset="UTF-8">
  <meta name="description" content="Facilitating the global conversation on academic literature.">
  <meta name="keywords" content="PeerLibrary, annotation, science, publications, review, PDF">
  <meta name="author" content="PeerLibrary community" />
  <meta name="copyright" content="PeerLibrary community" />
</head>

<body>
  {{#unless INSTALL}}
    {{> header}}
  {{/unless}}
  <section class="{{currentPage}} {{#if currentPersonId}}logged-in{{else}}logged-out{{/if}}">
    <div class="container">
      {{> Template.dynamic template=currentPage}}
    </div>
  </section>
  {{> baseFooter}}
  {{#unless INSTALL}}
    {{> importOverlay}}
    {{> signInOverlay}}
  {{/unless}}
  {{> dialogs}}
  {{> flashMessagesOverlay}}
</body>
