<template name="collection">
  {{#if loading}}
    <div class="loading">
      <h2>Loading</h2>
    </div>
  {{else}}
    {{#if notFound}}
      <div class="not-found">
        <h2>404 Not found</h2>
        <p>Collection not found. You might lack permissions to access it.{{#unless currentPersonId}} Try signing in.{{/unless}}</p>
      </div>
    {{else}}
      {{> collectionName collection}}
      <div class="row">
        {{> collectionPublications collection}}
        {{> collectionDetails collection}}
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="collectionName">
  <h1>{{name}}</h1>
</template>

<template name="collectionPublications">
  <div class="col12">
    <ol class="collection-publications item-list">
      {{#each publications}}
        {{> publicationCatalogItem}}
      {{/each}}
    </ol>
  </div>
</template>

<template name="collectionDetails">
  <div class="col4 push12 sidebar collection-details">
    <h2>Collection by</h2>
    {{> personInlineItem authorPerson}}
    {{#if canModify}}
      <h3>Tools</h3>
      {{#if canRemove}}
        <p>
          <button class="delete-collection">Delete collection</button>
          {{! TODO: Delete collection and remove publications from library? All or just those only in this collection? }}
          {{! TODO: Remove all publications from collection }}
          {{! TODO: Add confirmation or undo for this action }}
        </p>
      {{/if}}
      <p class="hint">
        You can reorder publications in a collection by dragging them.
      </p>
      <p class="to-my-library">
        <a href="{{libraryPath}}">To My Library</a>
      </p>
    {{/if}}
  </div>
</template>
