<template name="collections">
  <h1>Collections</h1>
  <div class="row">
    <div class="col12">
      {{> catalog catalogSettings}}
    </div>
    {{> myCollections}}
  </div>
</template>

<template name="myCollections">
  <div class="col4 push12 sidebar">
    {{#if currentPersonId}}
      <h2>My Collections</h2>
      {{#if myCollections.count}}
        <ol class="item-list">
          {{#each myCollections}}
            {{> collectionCatalogItem}}
          {{/each}}
        </ol>
      {{else}}
        {{> noMyCollections}}
      {{/if}}
      {{> addNewCollection}}
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="noMyCollections">
  <p class="no-collections hint">You do not have any collections. Create one below.</p>
</template>

<template name="addNewCollection">
  <h3>Create a new collection</h3>
  <form class="add-collection input-and-buttons">
    <button type="submit" class="add">Create</button>
    <div class="input"><input type="text" class="name" placeholder="Collection name" /></div>
  </form>
</template>

<template name="collectionInlineItem">
  <a class="inline-item collection" {{#if addLink}}href="{{path}}"{{/if}}>
    <i class="avatar only-icon icon-collection" title="Collection"></i>
    <span class="name" {{#if reference.title}}title="{{reference.title}}"{{/if}}>{{reference.text}}</span>
  </a>
</template>

<template name="collectionCatalogItem">
  <li class="catalog-item collection" data-collection-id="{{_id}}">
    <div class="details">
      {{> collectionCatalogItemName}}
      <p class="author">
        {{#if authorPerson}}
          <i class="icon-person"></i> Collection by <span class="actionable">{{> personInlineItem authorPerson}}</span>
        {{else}}
          <i class="icon-group"></i> Collection by <span class="actionable">{{> groupInlineItem authorGroup}}</span>
        {{/if}}
      </p>
      <p class="show-in-sidebar publications-count">
        <i class="icon-publication"></i>
        {{#if private}}
          <i class="icon-private"></i>
        {{/if}}
        {{countDescription}}
      </p>
      {{#if private}}
        <p>
          <span class="tooltip" title="Only listed users can see the collection">
            <i class="icon-private"></i> private collection
          </span>
        </p>
      {{/if}}
    </div>

    <a class="full-item-link" href="{{path}}"></a>
  </li>
</template>

<template name="collectionCatalogItemName">
  <h2>
    {{name}}
  </h2>
</template>
