<template name="collection">
  {{#if loading}}
    <div class="loading">
      <h2>Loading</h2>
    </div>
  {{else}}
    {{#if notFound}}
      <div class="not-found">
        <h2>404 Not found</h2>
        <p>Collection not found. You might lack permissions to access it.{{#unless currentPersonId}} Try signing in.{{/unless}}</p>
      </div>
    {{else}}
      {{> collectionName collection}}
      <div class="row">
        {{> collectionPublications collection}}
        {{> collectionDetails collection}}
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="collectionName">
  <h1>{{name}}</h1>
</template>

<template name="collectionPublications">
  <div class="col12">
    <ol class="collection-publications entity-list">
      {{#each publications}}
        {{> publicationListing}}
      {{/each}}
    </ol>
  </div>
</template>

<template name="collectionDetails">
  <div class="col4 push12 sidebar collection-details">
    <div class="section">
      <h2>Collection by</h2>
      {{> personEntity authorPerson}}
    </div>
    {{> collectionTools}}
    <div class="section to-my-library">
      <a href="{{libraryPath}}">To My Library</a>
    </div>
  </div>
</template>

<template name="collectionTools">
  {{#if canModify}}
    <div class="section">
      <h2>Tools</h2>
      {{#if canRemove}}
        <div class="section">
          <button class="delete-collection">Delete collection</button>
          {{! TODO: Delete collection and remove publications from library? All or just those only in this collection? }}
          {{! TODO: Remove all publications from collection }}
          {{! TODO: Add confirmation or undo for this action }}
        </div>
      {{/if}}
      <div class="hint section">
        You can reorder publications in a collection by dragging them.
      </div>
      {{#if canModifyAccess}}
        <div class="section">
          <h3>Privacy</h3>
          {{> accessControl}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>