<template name="dialogs">
  {{> newsletterDialog}}
  {{> inviteDialog}}
</template>

<template name="newsletterDialog">
  <div class="newsletter-dialog popup-dialog {{#if displayed}}displayed{{/if}} {{#if waiting}}waiting{{/if}}">
    <p class="description">
      Subscribe to PeerLibrary announcements, news, and important things. Low traffic.
    </p>
    <form class="newsletter-subscribe">
      <input id="newsletter-dialog-email" type="text" placeholder="Email" class="waiting-icon" disabled={{waiting}} />
      {{#if error}}
        <p class="message error-message">{{error}}</p>
      {{/if}}
      <button class="subscribe-form-submit">Subscribe</button>
    </form>
  </div>
</template>

<template name="inviteDialog">
  <div class="invite-dialog popup-dialog {{#if displayed}}displayed{{/if}} {{#if waiting}}waiting{{/if}}">
    <form class="invite-send">
      <input id="invite-dialog-email" type="text" placeholder="Email" class="waiting-icon" disabled={{waiting}} />
      <textarea id="invite-dialog-message" placeholder="Optional message" class="waiting-icon" disabled={{waiting}}></textarea>
      {{#if error}}
        <p class="message error-message">{{error}}</p>
      {{/if}}
      <button class="subscribe-form-submit">Invite a friend</button>
    </form>
  </div>
</template>

<template name="_enrollAccountDialog">
  {{#if inEnrollAccountFlow}}
    <div class="hide-background"></div>

    <div class="accounts-dialog accounts-centered-dialog">
      <label id="enroll-account-with-username-username-label" for="enroll-account-with-username-username">
        Choose a username
      </label>
      <div class="enroll-account-with-username-username-wrapper">
        <input id="enroll-account-with-username-username" type="text" />
      </div>

      <label id="enroll-account-with-username-password-label" for="enroll-account-with-username-password">
        Choose a password
      </label>
      <div class="enroll-account-with-username-password-wrapper">
        <input id="enroll-account-with-username-password" type="password" />
      </div>

      {{> _loginButtonsMessages}}

      <div class="login-button login-button-form-submit" id="login-buttons-enroll-account-with-username-button">
        Create account
      </div>

      <a class="accounts-close" id="login-buttons-cancel-enroll-account">&times;</a>
    </div>
  {{/if}}
</template>

