<template name="dialogs">
  {{> newsletterDialog}}
  {{> inviteDialog}}
</template>

<template name="newsletterDialog">
  <div class="newsletter-dialog popup-dialog {{#if displayed}}displayed{{/if}} {{#if waiting}}waiting{{/if}}">
    <p class="description">
      Subscribe to PeerLibrary announcements, news, and important things. Low traffic.
    </p>
    <form class="newsletter-subscribe">
      <input id="newsletter-dialog-email" type="text" placeholder="Email" class="waiting-icon" {{#if waiting}}disabled="disabled"{{/if}} />
      {{#if error}}
        <p class="message error-message">{{error}}</p>
      {{/if}}
      <button class="subscribe-form-submit">Subscribe</button>
    </form>
  </div>
</template>

<template name="inviteDialog">
  <div class="invite-dialog popup-dialog {{#if displayed}}displayed{{/if}} {{#if waiting}}waiting{{/if}}">
    <form class="invite-send">
      <input id="invite-dialog-email" type="text" placeholder="Email" class="waiting-icon" {{#if waiting}}disabled="disabled"{{/if}} />
      <textarea id="invite-dialog-message" placeholder="Optional message" class="waiting-icon" {{#if waiting}}disabled="disabled"{{/if}}></textarea>
      {{#if error}}
        <p class="message error-message">{{error}}</p>
      {{/if}}
      <button class="subscribe-form-submit">Invite a friend</button>
    </form>
  </div>
</template>