<template name="footer">
  <footer class="{{indexFooter}} {{noIndexFooter}} {{currentPage}} {{publicationDisplayed}}">
    <ul class="subpages">
      <li><a href="{{aboutPath}}">About</a></li>
      <li><a href="{{helpPath}}">Help</a></li>
      <li><a href="{{privacyPath}}">Privacy</a></li>
      <li><a href="{{termsPath}}">Terms</a></li>
      <li><a href="https://github.com/peerlibrary/peerlibrary" title="Running version {{VERSION}}">Source</a></li>
      <li><a href="https://github.com/peerlibrary/peerlibrary/wiki/Public-API">API</a></li>
    </ul>
    <ul class="connect">
      <li><a href="http://blog.peerlibrary.org">Blog</a></li>
      <li><a href="https://twitter.com/PeerLibrary">Twitter</a></li>
      <li><a href="http://lists.peerlibrary.org/lists/info/news" class="newsletter">Newsletter</a></li>
      <li><a href="mailto:hello@peerlibrary.org">Contact</a></li>
    </ul>
    {{> newsletter}}
  </footer>
</template>

<template name="baseFooter">
  {{#unless searchActive}}
    {{> footer}}
  {{/unless}}
</template>

<template name="newsletter">
  <div class="newsletter-dialog popup-dialog {{#if displayed}}displayed{{/if}} {{#if waiting}}waiting{{/if}}">
    <p class="description">
      Subscribe to PeerLibrary announcements, news, and important things. Low traffic.
    </p>
    <form class="newsletter-subscribe">
      <input id="newsletter-dialog-email" type="text" placeholder="Email" class="waiting-icon" {{#if newsletterSubscribing}}disabled="disabled"{{/if}} />
      {{#if newsletterError}}
        <p class="message error-message">{{newsletterError}}</p>
      {{/if}}
      <button class="subscribe-form-submit">Subscribe</button>
    </form>
  </div>
</template>