<template name="footer">
  <footer class="{{indexFooter}} {{noIndexFooter}} {{currentPage}} {{publicationSimple}}">
    <ul class="subpages">
      <li><a href="{{aboutPath}}">About</a></li>
      <li><a href="{{helpPath}}">Help</a></li>
      <li><a href="{{privacyPath}}">Privacy</a></li>
      <li><a href="{{termsPath}}">Terms</a></li>
      <li><a href="https://github.com/peerlibrary/peerlibrary" title="Running version {{VERSION}}">Source</a></li>
      <li><a href="https://github.com/peerlibrary/peerlibrary/wiki/Public-API">API</a></li>
    </ul>
    <ul class="connect">
      <li><a href="http://blog.peerlibrary.org">Blog</a></li>
      <li><a href="https://twitter.com/PeerLibrary">Twitter</a></li>
      <li><a href="http://lists.peerlibrary.org/lists/info/news" class="newsletter">Newsletter</a></li>
      <li><a href="mailto:hello@peerlibrary.org">Contact</a></li>
    </ul>
    {{> newsletter}}
  </footer>
</template>

<template name="baseFooter">
  {{#unless searchActive}}
    {{> footer}}
  {{/unless}}
</template>

<template name="newsletter">
  <div class="newsletter-dialog {{newsletterActive}} {{newsletterSubscribing}}">
    <div class="description">
      Subscribe to PeerLibrary announcements, news, and important things. Low traffic.
    </div>
    <div class="email-label-and-input">
      <label class="email-label" for="newsletter-dialog-email">Email</label>
      <input id="newsletter-dialog-email" type="text" {{#if newsletterSubscribing}}disabled="disabled"{{/if}} />
    </div>
    {{#if newsletterError}}
      <div class="message error-message">{{newsletterError}}</div>
    {{/if}}
    <div class="subscribe-form-submit">Subscribe</div>
  </div>
</template>