<template name="group">
  {{#if loading}}
    <div class="loading">
      <h2>Loading</h2>
    </div>
  {{else}}
    {{#if notFound}}
      <div class="not-found">
        <h2>404 Not found</h2>
        <p>Group not found. You might lack permissions to access it.{{#unless currentPersonId}} Try signing in.{{/unless}}</p>
      </div>
    {{else}}
      {{> groupName group}}
      <div class="row">
        <div class="col12 groups-directory">
          <h2>Group Activity</h2>
        </div>
        <div class="col4 push12 sidebar group-members-panel">
          {{> groupMembership group}}
          {{> groupMembers group}}
          {{> groupDetails group}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="groupName">
  <h1>{{name}}</h1>
</template>

<template name="groupMembership">
  {{#if currentPersonId}}
    <h2 class="directory-title">Group membership</h2>
    {{#if isMember}}
      {{> groupExistingMembership}}
    {{else}}
      {{#if isPendingMember}}
        {{> groupPendingMembership}}
      {{else}}
        {{> groupNoMembership}}
      {{/if}}
    {{/if}}
    <br/><br/>
  {{/if}}
</template>

<template name="groupNoMembership">
  {{#if closed}}
    This group is closed. You can't become a member nor apply for membership
  {{else}}
    <button class="join-group">{{#if open}}Become a member{{else}}Apply for membership{{/if}}</button>
  {{/if}}
</template>

<template name="groupPendingMembership">
  You have applied for membership in this group. Please wait for one of the group admins to approve your membership.
  <button class="leave-group">Revoke application</button>
</template>

<template name="groupExistingMembership">
  <button class="leave-group">Leave group</button>
</template>

<template name="groupMembers">
  {{> groupMembersList}}
  {{#if canModifyMembership}}
    {{> groupPendingMembers}}
    {{> groupMembersAddControl}}
  {{/if}}
</template>

<template name="groupMembersList">
  <h3> Members </h3>
  <ol class="members member-list {{#unless canModifyMembership}}read-only{{/unless}}">
    {{#each members}}
      {{> member}}
    {{/each}}
  </ol>
</template>

<template name="groupPendingMembers">
  <h3> Membership applications </h3>
  {{#each pendingMembers}}
    {{> member}}
    <button class="approve-group-member">Approve</button>
  {{/each}}
</template>

<template name="groupMembersAddControl">
  <h3>Add a member</h3>
  <div class="add-control">
    <input type="text" class="add-group-member" placeholder="Search by username, name, or email" />
    {{> groupMembersAddControlNoResults}}
    {{> groupMembersAddControlResults}}
    {{> groupMembersAddControlLoading}}
  </div>
  <p class="hint">Enter an email to add and invite the user.</p>
</template>

<template name="groupMembersAddControlNoResults">
  {{#if noResults}}
    <div class="no-results add-control-results">
      No people found
      {{> addControlInviteByEmail email}}
    </div>
  {{/if}}
</template>

<template name="addControlInviteByEmail">
  {{#if this}}
    <button class="add-and-invite">Add and invite {{this}}</button>
  {{/if}}
</template>

<template name="groupMembersAddControlResults">
  {{#if results.count}}
    <ul class="group-member-results add-control-results">
      {{#each results}}
        {{> groupMembersAddControlResultsItem}}
      {{/each}}
    </ul>
  {{/if}}
</template>

<template name="groupMembersAddControlResultsItem">
  {{> memberAdd}}
</template>

<template name="groupMembersAddControlLoading">
  {{#if loading}}
    <div class="results-loading add-control-results">Loading …</div>
  {{/if}}
</template>

<template name="groupDetails">
  {{#if canModify}}
    <h3>Tools</h3>
    {{#if canRemove}}
      <p>
        <button class="delete-group">Delete group</button>
        {{! TODO: Add confirmation or undo for this action }}
      </p>
    {{/if}}
  {{/if}}
</template>
