<template name="group">
  {{#if loading}}
    <div class="simple loading">
      <h2>Loading</h2>
    </div>
  {{else}}
    {{#if notfound}}
      <div class="simple notfound">
        <h2>404 Not found</h2>
        <p>Group not found. You might lack permissions to access it.{{#unless currentPersonId}} Try signing in.{{/unless}}</p>
      </div>
    {{else}}
      <h1>{{group.name}}</h1>
      <div class="row">
        <div class="col12 groups-directory">
          <h2>Group Activity</h2>
        </div>
        <div class="col4 push12 sidebar group-members-panel">
          <h2 class="directory-title">Members</h2>
          {{> groupMembersList group}}
          {{#if canModifyMembership}}
            {{> groupMembersAddControl group}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="groupMembersList">
  <ol class="members member-list {{#unless canModifyMembership}}read-only{{/unless}}">
    {{#each members}}
      {{> personMember}}
    {{/each}}
  </ol>
</template>

<template name="groupMembersAddControl">
    <h3>Add a member</h3>
    <div class="add-control">
      <input type="text" class="add-group-member" placeholder="Search by username, name, or e-mail" />
      {{> groupMembersAddControlNoResults}}
      {{> groupMembersAddControlResults}}
      {{> groupMembersAddControlLoading}}
    </div>
</template>

<template name="groupMembersAddControlNoResults">
  {{#if noResults}}
    <div class="no-results add-control-results">No people or groups found</div>
  {{/if}}
</template>

<template name="groupMembersAddControlResults">
  {{#if results.count}}
    <ul class="group-member-results add-control-results member-list">
      {{#each results}}
        {{> groupMembersAddControlResultsItem}}
      {{/each}}
    </ul>
  {{/if}}
</template>

<template name="groupMembersAddControlResultsItem">
  {{> personMemberAdd}}
</template>

<template name="groupMembersAddControlLoading">
  {{#if loading}}
    <div class="results-loading add-control-results">Loading...</div>
  {{/if}}
</template>

<template name="personMember">
  <li class="member person">
    <img src="{{avatar}}" class="avatar" />
    <h4 class="member-name">
      <a href="{{profilePath slug}}" title="{{displayName}}">{{displayName}}</a>
    </h4>
    <button class="remove-button">&times;</button>
  </li>
</template>

<template name="groupMember">
  <li class="member group">
    <i class="icon-group avatar"></i>
    <h4 class="member-name">
      <a href="{{groupPath _id slug}}" title="{{name}}">{{name}}</a>
    </h4>
    <button class="remove-button">&times;</button>
  </li>
</template>

<template name="personMemberAdd">
  <li>
    <button class="add-button">
      <div class="member person">
        <img src="{{avatar}}" class="avatar" />
        <span class="member-name">{{displayName}}</span>
      </div>
    </button>
  </li>
</template>

<template name="groupMemberAdd">
  <li>
    <button class="add-button">
      <div class="member group">
        <i class="icon-group avatar"></i>
        <span class="member-name">{{name}}</span>
      </div>
    </button>
  </li>
</template>