<template name="groups">
  <h1>Groups</h1>
  <div class="row">
    <div class="col12">
      {{> catalog catalogSettings}}
    </div>
    {{> myGroups}}
  </div>
</template>

<template name="myGroups">
  <div class="col4 push12 sidebar my-groups">
    {{#if currentPersonId}}
      <h2>My Groups</h2>
      {{#if myGroups.count}}
        <ul class="item-list">
          {{#each myGroups}}
            {{> groupCatalogItem}}
          {{/each}}
        </ul>
      {{else}}
        <p class="no-groups hint">
          You don't have any groups. Create one below.
          {{! TODO: We should also add that you can request membership in a group }}
        </p>
      {{/if}}
      <h3>Create a new group</h3>
      <form class="add-group input-and-buttons control">
        <button type="submit" class="add">Create</button>
        <div class="input"><input type="text" class="name" placeholder="Group name" /></div>
      </form>
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="groupInlineItem">
  {{#spaceless}}
    <a class="inline-item group" {{#if addLink}}href="{{path}}"{{/if}}>
      <i class="avatar only-icon icon-group" title="Group"></i>
      <span class="name" title="{{name}}">{{name}}</span>
    </a>
  {{/spaceless}}
</template>

<template name="groupCatalogItem">
  <li class="catalog-item group">
    <div class="details">
      {{> groupCatalogItemName}}
      <p class="members-count show-in-sidebar">
        <i class="icon-group"></i>
        {{#if private}}
          <i class="icon-private"></i>
        {{/if}}
        {{countDescription}}
      </p>
        {{#if private}}
          <p>
            <span class="tooltip" title="Only the group members and listed users can see the group">
              <i class="icon-private"></i> private group
            </span>
          </p>
        {{/if}}
    </div>

    <a class="full-item-link" href="{{path}}"></a>
  </li>
</template>

<template name="groupCatalogItemName">
  <h2>
    {{name}}
  </h2>
</template>
