<template name="groups">
  <h1>Groups</h1>
  <div class="row">
    <div class="col12">
      {{> catalog catalogSettings}}
    </div>
    {{> myGroups}}
  </div>
</template>

<template name="myGroups">
  <div class="col4 push12 sidebar my-groups">
    {{#if currentPersonId}}
      <h2>My Groups</h2>
      {{#if myGroups.count}}
        <ul class="item-list">
          {{#each myGroups}}
            {{> groupCatalogItem}}
          {{/each}}
        </ul>
      {{else}}
        <p class="no-groups hint">
          You don't have any groups. Create one below.
          {{! TODO: We should also add that you can request membership in a group }}
        </p>
      {{/if}}
      <h3>Create a new group</h3>
      <form class="add-group input-and-buttons">
        <button type="submit" class="add">Create</button>
        <div class="input"><input type="text" class="name" placeholder="Group name" /></div>
      </form>
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="groupInlineItem">
  <a class="inline-item group" {{#unless noLink}}href="{{path}}"{{/unless}}>
    <i class="avatar only-icon icon-group" title="Group"></i>
    <span class="name" title="{{name}}">{{name}}</span>
  </a>
</template>

<template name="groupCatalogItem">
  <li class="catalog-item group">
    <div class="details">
      {{> groupCatalogItemName}}
      <p class="show-in-sidebar"><i class="icon-group"></i> {{countDescription}}</p>
    </div>
  </li>
</template>

<template name="groupCatalogItemName">
  <h2>
    <a href="{{path}}" class="actionable">
      {{name}}
    </a>
  </h2>
</template>
