<template name="groups">
  <h1>Groups</h1>
  <div class="row">
    <div class="col12 groups-directory">
      {{> catalogControls catalogSettings}}
      {{> noGroups}}
      {{> groupsList entities}}
      {{> groupsLoading}}
    </div>
    {{> myGroups}}
  </div>
</template>

<template name="groupsCount">
  {{#if entitiesCount}}
    <p class="groups-count">{{entitiesCount}} groups:</p>
  {{/if}}
</template>

<template name="groupsList">
  {{#if this}}
    <ol class="groups-list">
      {{#each this}}
        {{> groupListing}}
      {{/each}}
    </ol>
  {{/if}}
</template>

<template name="noGroups">
  {{#if noEntities}}
    <p class="no-groups">
      {{#if entitiesFilter}}
        The filter matches no groups.
      {{else}}
        There are no groups yet.
        {{#if currentPersonId}}
          Create the first using the form on the right.
        {{else}}
          Sing in and create the first.
        {{/if}}
      {{/if}}
    </p>
  {{/if}}
</template>

<template name="groupsLoading">
  {{#if entitiesLoading}}
    <p class="groups-loading">Loading …</p>
  {{else}}
    {{#if moreEntities}}
      <div class="groups-load-more"><button class="load-more">Load more</button></div>
    {{/if}}
  {{/if}}
</template>

<template name="groupListing">
  <li class="group-listing">
    <h2><a href="{{groupPathFromId _id slug}}" class="group-name">{{name}}</a></h2>
    <span class="group-count">{{countDescription}}</span>
  </li>
</template>

<template name="myGroups">
  {{#if currentPersonId}}
    <div class="col4 push12 sidebar my-groups">
      <h2>My Groups</h2>
      {{#if myGroups.count}}
        <ul class="groups-list">
          {{#each myGroups}}
            {{> groupListing}}
          {{/each}}
        </ul>
      {{else}}
        <p class="no-groups hint">
          You don't have any groups. Create one below.
          {{! TODO: We should also add that you can request membership in a group }}
        </p>
      {{/if}}
      <h3>Create a new group</h3>
      <form class="add-group input-and-buttons">
        <button type="submit" class="add">Create</button>
        <div class="input"><input type="text" class="name" placeholder="Group name" /></div>
      </form>
      {{> footer}}
    </div>
  {{/if}}
</template>