<template name="group">
  {{#if loading}}
    <div class="loading">
      <h2>Loading</h2>
    </div>
  {{else}}
    {{#if notFound}}
      <div class="not-found">
        <h2>404 Not found</h2>
        <p>Group not found. You might lack permissions to access it.{{#unless currentPersonId}} Try signing in.{{/unless}}</p>
      </div>
    {{else}}
      {{> groupName group}}
      <div class="row">
        <div class="col12 groups-directory">
          <h2>Group Activity</h2>
        </div>
        <div class="col4 push12 sidebar group-members-panel">
          {{> groupMembers group}}
          {{> groupTools group}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="groupName">
  <h1>{{name}}</h1>
</template>

<template name="groupMembers">
  <div class="section">
    <h2>Members</h2>
    {{> groupMembersList}}
    {{> groupMembersAddControl}}
  </div>
</template>

<template name="groupMembersList">
  <ol class="members member-list {{#unless canModifyMembership}}read-only{{/unless}}">
    {{#each members}}
      {{> member}}
    {{/each}}
  </ol>
</template>

<template name="groupMembersAddControl">
  {{#if canModifyMembership}}
    <h3>Add a member</h3>
    <div class="add-control control">
      <input type="text" class="add-group-member" placeholder="Search by username, name, or email" />
      {{> groupMembersAddControlNoResults}}
      {{> groupMembersAddControlResults}}
      {{> groupMembersAddControlLoading}}
    </div>
  {{/if}}
</template>

<template name="groupMembersAddControlNoResults">
  {{#if noResults}}
    <div class="no-results add-control-results">
      No people found
      {{> addControlInviteByEmail email}}
    </div>
  {{/if}}
</template>

<template name="addControlInviteByEmail">
  {{#if this}}
    <button class="add-and-invite">Add and invite {{this}}</button>
  {{/if}}
</template>

<template name="groupMembersAddControlResults">
  {{#if results.count}}
    <ul class="group-member-results add-control-results">
      {{#each results}}
        {{> groupMembersAddControlResultsItem}}
      {{/each}}
    </ul>
  {{/if}}
</template>

<template name="groupMembersAddControlResultsItem">
  {{> memberAdd}}
</template>

<template name="groupMembersAddControlLoading">
  {{#if loading}}
    <div class="results-loading add-control-results">Loading …</div>
  {{/if}}
</template>

<template name="groupTools">
  {{#if canModify}}
    <div class="section">
      <h2>Tools</h2>
      {{#if canRemove}}
      <div class="section">
        <button class="delete-group">Delete group</button>
        {{! TODO: Add confirmation or undo for this action }}
      </div>
      {{/if}}
      {{#if canModifyAccess}}
        <div class="section">
          <h3>Privacy</h3>
          {{> accessControl}}
        </div>
      {{/if}}
    </div>
  {{else}}
    {{#if private}}
      <div class="private section">
        <h2>Privacy</h2>
          <p><i class="icon-private"></i> private group</p>
          <p class="description">Only the users listed can see the group</p>
      </div>
    {{/if}}
  {{/if}}
</template>