<template name="header">
  <header class="{{indexHeader}} {{noIndexHeader}} {{currentPage}} {{#if currentPersonId}}logged-in{{else}}logged-out{{/if}}">
    <div class="container">
      <div class="row">
        {{#if noIndexHeader}}
          <div class="logo {{development}}">
            {{#if development}}
              <a href="{{indexPath}}" title="Data is NOT stored permanently and is reset as needed!">PeerLibrary<span class="banner" title="Data is NOT stored permanently and is reset as needed!">Development instance</span></a>
            {{else}}
              <a href="{{indexPath}}">PeerLibrary</a>
            {{/if}}
          </div>
        {{/if}}
        <ul class="top-menu">
          <li class="search">
            {{> searchInput}}
          </li>
          {{> loginButtons}}
          {{> collectionsButton}}
          {{> groupsButton}}
          {{> importButton}}
          {{!
            <li class="explore pull-right">
              <a href="#">Explore</a>
            </li>
          }}
        </ul>
        {{> progressBar}}
      </div>
    </div>
  </header>
</template>

<template name="searchInput">
  <div class="search-wrapper {{searchFocused}} {{indexHeader}} {{noIndexHeader}}">
    <span class="label">
      <i class="icon-search"></i> {{searchInvitation}}
      <span class="cursor"></span>
    </span>
    <div class="search-form">
      <form id="search">
        <input type="text" name="q" class="search-input" autocomplete="off" placeholder="{{searchInvitation}}" autofocus="autofocus">
        <input type="hidden" name="ie" value="UTF-8">
        <span class="search-button">
          <i class="icon-search"></i>
        </span>
      </form>
    </div>
    {{#if indexHeader}}
      <p class="drop-files-to-import">or drop files to import</p>
      {{#if development}}
        <p class="development-banner"><span class="warning left">⚠</span>Development instance<span class="warning right">⚠</span><br />Data is NOT stored permanently and is reset as needed!</p>
        <p class="development-comment">The official website for users is at <a href="https://peerlibrary.org/">https://peerlibrary.org/</a>.</p>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="progressBar">
  {{#if progress}}
    <div class="progress-bar" style="width: {{progress}}%"></div>
  {{/if}}
</template>

<template name="loginButtons">
  <li class="login pull-right">
    {{loginButtons align="right"}}
  </li>
</template>

<template name="importButton">
  <li class="import pull-right">
    <a href="" class="import-link-text">Import</a>
  </li>
  {{#constant}}
    <input class="import-file-input" type="file" multiple="multiple" />
  {{/constant}}
</template>

<template name="groupsButton">
  <li class="pull-right">
    <a href="{{groupsPath}}">Groups</a>
  </li>
</template>

<template name="collectionsButton">
  <li class="pull-right">
    <a href="{{collectionsPath}}">Collections</a>
  </li>
</template>
