<template name="header">
  <header class="{{indexHeader}} {{noIndexHeader}}">
    <div class="container fat-header">
      <div class="row">
        <div class="logo">
          <a href="/">PeerLibrary</a>
        </div>
        <span class="tagline">
          Open Scientific Knowledge
        </span>
        <ul class="top-menu">
          {{#if indexHeader}}
            {{> loginButtons}}
          {{/if}}
          <li class="explore pull-right">
            <a href="#">Explore</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container normal-header">
      <div class="row">
        <div class="logo {{development}}">
          <a href="/">PeerLibrary</a>
          {{#if development}}
            <span class="banner" title="Data is NOT stored permanently and is reset as needed!">Development instance</span>
          {{/if}}
        </div>
        <ul class="top-menu">
          <li class="search">
            {{> searchInput}}
          </li>
          {{#if noIndexHeader}}
            {{> loginButtons}}
          {{/if}}
          <li class="explore pull-right">
            <a href="#">Explore</a>
          </li>
        </ul>
        {{> progressBar}}
      </div>
    </div>
  </header>
</template>

<template name="searchInput">
  <div class="search-wrapper {{searchFocused}} {{indexHeader}} {{noIndexHeader}}">
    <span class="label">
      <i class="icon-search"></i> {{searchInvitation}}
      <span class="cursor"></span>
    </span>
    <div class="search-form">
      <form id="search">
        <input type="text" name="q" class="search-input" autocomplete="off" placeholder="{{searchInvitation}}" autofocus="autofocus">
        <input type="hidden" name="ie" value="UTF-8">
        <span class="search-button">
          <i class="icon-search"></i>
        </span>
      </form>
    </div>
  </div>
</template>

<template name="progressBar">
  {{#if progress}}
    <div class="progress-bar" style="width: {{progress}}%"></div>
  {{/if}}
</template>

<template name="loginButtons">
  <li class="login pull-right">
    {{loginButtons align="right"}}
  </li>
</template>