<template name="header">
  <header>
    <div class="container_12 wrap">
      <div class="grid_12">
        <div class="logo">
          <a href="/"><img alt="PeerLibrary" src="/img/logo.png" /></a>
        </div>
        <div class="menu">
          <ul class="nav">
            <li>
              <a href="#" class="search-link"><i class="icon-search icon-large"></i></a>
            </li>
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/login" class="last">Sign in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>