<template name="help">
  <div class="simple">
    <h2>Help</h2>
    <p>PeerLibrary is still in a heavy development and we have not yet had time to write any helpful content for you.
       In meantime fell free to <a href="mailto:hello@peerlibrary.org">contact us</a> or open a
       <a href="https://github.com/peerlibrary/peerlibrary/issues/new">ticket</a> if you have any issue using it.</p>
    <p>If you would like to <a href="https://github.com/peerlibrary/peerlibrary/blob/master/CONTRIBUTING.md">contribute
       to PeerLibrary</a>, writing good introductory material for novice users would be a great starting point as well!</p>
  </div>
</template>