<template name="highlights">
  <h1>Highlights</h1>

  <div class="row">
    <div class="col12 catalog">
      {{> catalogControls catalogSettings}}
      {{> highlightsCount}}
      {{> highlightsList documents}}
      {{> highlightsLoading}}
    </div>
    {{> myHighlights}}
  </div>
</template>

<template name="highlightsList">
  {{#if this}}
    <ol class="item-list">
      {{#each this}}
        {{> highlightCatalogItem}}
      {{/each}}
    </ol>
  {{/if}}
</template>

<template name="highlightsCount">
  {{#if documentsCount}}
    {{#if documentsFilter}}
      <p class="status">Filter matches {{countDescription}}</p>
    {{else}}
      <p class="status">Displaying {{countDescription}}</p>
    {{/if}}
  {{/if}}
  {{#if noDocuments}}
    <p class="status">
      {{#if documentsFilter}}
        Filter matches no highlights.
      {{else}}
        There are no highlights yet.
        {{#if currentPersonId}}
          Create the first by highlighting text in one of the publications.
        {{else}}
          Sign in and create the first.
        {{/if}}
      {{/if}}
    </p>
  {{/if}}
</template>

<template name="highlightsLoading">
  {{#if documentsLoading}}
    <p class="status">Loading …</p>
  {{else}}
    {{#if moreDocuments}}
      <button class="load-more">Load more</button>
    {{else}}
      {{#if documentsCount}}
        <p class="status">No more highlights to display.</p>
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="myHighlights">
  <div class="col4 push12 sidebar">
    {{#if currentPersonId}}
      {{! TODO: Add user's highlights? }}
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="highlightInlineItem">
  {{#with highlightReference _id this}}
    <a class="inline-item highlight"{{#unless noLink}} href="{{highlightPathFromId _id}}"{{/unless}}>
      <i class="avatar only-icon icon-highlight" title="Highlight"></i>
      <span class="name"{{#if title}} title="{{title}}"{{/if}}>{{text}}</span>
    </a>
  {{/with}}
</template>

<template name="highlightCatalogItem">
  <li class="catalog-item highlight">
    <div class="details">
      <blockquote>
        {{quote}}
      </blockquote>
      <p class="actionable"><i class="icon-person"></i> Highlighted by {{> personInlineItem author}} in {{> publicationInlineItem publication}}</p>
    </div>
  </li>
</template>
