<template name="importOverlay">
  {{#if importOverlayActive}}
    <div class="drop-overlay imports-overlay">
      <div class="content">
        <h1 class="{{#unless importingFilesCount}}drop-hint-only{{/unless}}">{{#if importingFilesCount}}Importing files{{else}}Import files{{/if}}</h1>
        <ol class="importing-files">
          {{#each importingFiles}}
            {{> importingFilesItem}}
          {{/each}}
        </ol>
        <p class="hint">Drop or <button class="import">select</button> files to add more files to import.</p>
      </div>
    </div>
  {{/if}}
</template>

<template name="signInOverlay">
  {{#if signInOverlayActive}}
    <div class="drop-overlay signin-overlay">
      <div class="content">
        <h1>Please sign in before importing</h1>
      </div>
    </div>
  {{/if}}
</template>

<template name="importingFilesItem">
  <li class="file {{state}} icon-publication">
    <div class="publication">
      {{#if publication}}
        {{#with publication}}
          <span class="name-with-access">
            {{#if title}}
              <span class="name">{{title}}</span>
            {{else}}
              <span class="name">{{filename}}</span>
            {{/if}}
            <span class="access">{{> publicationAccessIconControl}}</span>
          </span>
        {{/with}}
      {{else}}
        <span class="name">{{name}}</span>
      {{/if}}
    </div>
    <div class="progress">
      {{> preprocessingBar}}
      {{> uploadBar}}
      <div class="status">{{status}}</div>
    </div>
    <div class="cancel">
      {{#unless hideCancel}}
        {{> importingFilesItemCancel}}
      {{/unless}}
    </div>
  </li>
</template>

<template name="preprocessingBar">
  <div class="preprocessing bar" style="width: {{preprocessingProgress}}%"></div>
</template>

<template name="uploadBar">
  <div class="upload bar" style="width: {{uploadProgress}}%"></div>
</template>

<template name="importingFilesItemCancel">
  <button class="cancel-button">
    <i class="icon-cancel"></i>
    <div class="ui-tooltip">Cancel import</div>
  </button>
</template>
