<template name="importOverlay">
  {{#if importOverlayActive}}
    <div class="drop-overlay">
      <div class="content">
        <h1>Imports</h1>
        <table class="imports-table">
          <tr>
            <th class="imports-header name-cell">Name</th>
            <th class="imports-header progress-cell">Progress</th>
            <th class="imports-header status-cell">Status</th>
          </tr>
          {{#each importingFiles}}
            <tr>
              <td class="imports-cell name-cell">{{> importingFilesName}}</td>
              <td class="imports-cell progress-cell">{{> importingFilesProgress}}</td>
              <td class="imports-cell status-cell">{{> importingFilesStatus}}</td>
              <td class="imports-cell cancel-cell">{{> importCancelButton}}</td>
            </tr>
          {{/each}}
        <table>
      </div>
    </div>
  {{/if}}
</template>

<template name="importCancelButton">
  <button href="" class="canceled {{invisibility}}">
    <i class="icon-cancel"></i>
  </button>
</template>

<template name="signInOverlay">
  {{#if signInOverlayActive}}
    <div class="drop-overlay">
      <div class="content">
        <h1>Please sign in before importing</h1>
      </div>
    </div>
  {{/if}}
</template>

<template name="importingFilesName">
  <div>{{name}}</div>
</template> 

<template name="importingFilesProgress">
  <div class="import-progress-bar" style="width: {{uploadProgress}}%" class="{{#if finished}}finished{{/if}} {{#if errored}}errored{{/if}}"></div>
</template> 

<template name="importingFilesStatus">
  <div> {{#if canceled}}Import Canceled{{else}}{{status}}{{/if}}</div>
</template> 
