<template name="index">
  {{#if searchActive}}
    {{> results}}
  {{else}}
    {{> presentation}}
  {{/if}}
</template>

<template name="presentation">
  <div class="landing">
  </div>
  <div class="presentation">
    <h2>Find. Explore. Organize.</h2>
    <ul>
      <li>Find the articles you’re looking for.</li>
      <li>Explore related research.</li>
      <li>Organize your library and your thoughts.</li>
    </ul>
    <h2>Collaborate</h2>
    <p>We provide a knowledge collaboration layer on top of academic publications. See and share real-time highlights and annotations  with the world, a group you’re working with, or keep them private.</p>
    <p>Follow authors and other users to understand their perspectives, make connections, and discover new ideas.</p>
  </div>
</template>