<template name="index">
  {{#if searchActive}}
    {{> results}}
  {{else}}
    {{> indexMain}}
    {{> indexStatistics}}
  {{/if}}
</template>

<template name="indexStatistics">
  <ul class="statistics">
    <li>
      <span class="value">{{publications}}</span>
      <span class="label">Publications</span>
    </li>
    <li>
      <span class="value">{{persons}}</span>
      <span class="label">People</span>
    </li>
  </ul>
</template>

<template name="indexMain">
  <div class="landing">
    <div class="big-logo">
      <h1>PeerLibrary</h1>
    </div>
  </div>
</template>
