<template name="index">
  {{#if searchActive}}
    {{> results}}
  {{else}}
    {{> presentation}}
  {{/if}}
</template>

<template name="presentation">
  <div class="landing">
  </div>
  <div class="pitch">
    <div class="down-arrow"><img src="img/down_arrow.png" alt="scroll down"/></div>
    <h1>Find. Explore. Organize.</h1>
    <ul>
      <li><strong>Find</strong> the articles you’re looking for.</li>
      <li><strong>Explore</strong> related research.</li>
      <li><strong>Organize</strong> your library and your thoughts.</li>
    </ul>
    <h1>Collaborate</h1>
    <p><strong>Participate</strong> in open discussion that drives ideas and
    science forward. PeerLibrary is a friendly environment to share insights and
    exchange feedback to <strong>facilitate innovative research</strong>.</p>

    <p>We provide a collaborative layer of knowledge on top of academic
    publications. See and <strong>share</strong> real-time <strong>highlights
    </strong> and <strong>annotations</strong> with the world, a group you're
    working with, or keep them private.</p>

    <h1>Learn</h1>
    <p>PeerLibrary provides a supportive space to learn about research and
    <strong>ask questions</strong> of peers and experts.</p>

    <p>Follow authors and other users to understand their perspectives,
    make connections, and discover new ideas.</p>

    <h1>Be Open</h1>
    <p>Open knowledge. Open access. Open source.</p>
    <p>At PeerLibrary, we believe that knowledge should be open and
    <strong>accessible</strong>.</p>

    <h1> <a href="#">Try it out!</a></h1>
  </div>
</template>