<template name="install">
  <div class="landing"></div>
  <div class="install-wrapper">
    <div class="welcome">Welcome to the PeerLibrary installation wizard.</div>
    <div class="instruction">To begin, please create an admin account.</div>
    <form class="password">
      <div class="username">Default username: <code>admin</code></div>
      <input class="password" type="password" placeholder="Enter new password" />
      <button type="submit" class="install-submit">Enter PeerLibrary</button>
    </form>
  </div>
</template>
