<template name="publicationJobs">
  <h1>Jobs for {{#with publicationReference publicationId}}<a href="{{publicationPathFromId _id}}"{{#if title}} title="{{title}}"{{/if}}>{{text}}</a>{{/with}}</h1>
  <h2>Queue</h2>
  <ul class="admin-job-queue">
    {{#each jobqueue}}
      {{> adminJobQueueItem}}
    {{/each}}
  </ul>
</template>

<template name="failedJobLink">
  <div>
    <a href="{{publicationJobsPath _id}}">See all jobs</a> associated with the publication for more information.
  </div>
</template>
