<template name="publicationJobs">
  {{#if publication}}
    <h1>Job Queue</h1>
    <p>Jobs for {{> publicationInlineItem publication}}</p>
    <ul class="admin-job-queue item-list">
      {{#each jobqueue}}
        {{> adminJobsCatalogItem}}
      {{/each}}
    </ul>
  {{else}}
    <div class="not-found">
      <h2>404 Not found</h2>
      <p>Publication not found. You might lack permissions to access it.{{#unless currentPersonId}} Try signing in.{{/unless}}</p>
    </div>
  {{/if}}
</template>

<template name="failedJobLink">
  <div>
    <a href="{{publicationJobsPath _id}}">See all jobs</a> associated with the publication for more information.
  </div>
</template>
