<template name="library">
    <div class="row">
      {{> libraryPublications}}
      {{> collections}}
    </div>
</template>

<template name="libraryPublications">
  <div class="col12">
    <h1>Library</h1>
    <ol class="library-publications item-list">
      {{#each myPublications}}
        {{> publicationSearchResult}}
      {{/each}}
    </ol>
  </div>
</template>

<template name="collections">
  <div class="col4 push12 library-collections">
    <h2>Collections</h2>
    <ol class="item-list collections-list">
      {{#each myCollections}}
        {{> collectionListing}}
      {{/each}}
    </ol>
    <h3>Create a new collection</h3>
    <form class="add-collection input-and-button">
      <input type="text" class="name" placeholder="Collection name" />
      <button type="submit" class="add">Create</button>
    </form>
  </div>
</template>

<template name="collectionListing">
  <li class="collection-listing" data-id="{{_id}}">
    <h3 class="collection-name">
      <a href="{{collectionPath _id slug}}">
        {{name}}
      </a>
    </h3>
    <span class="publications-count">{{countDescription}}</span>
  </li>
</template>