<template name="library">
    <h1>Library</h1>
    <div class="row">
      {{> collectionPublications}}
      {{> collections}}
    </div>
</template>

<template name="collectionPublications">
  <div class="collection-details col12">
    <h2 class="collection-name">Publications</h2>
    <ol class="collection-publications item-list">
      {{#each myPublications}}
        {{> publicationSearchResult}}
      {{/each}}
    </ol>
  </div>
</template>

<template name="collections">
  <div class="col4 push12 collections">
    <h2>Collections</h2>
    <ol class="item-list collections-list">
      {{#each myCollections}}
        {{> collectionListing}}
      {{/each}}
    </ol>
    <h3>Create a new collection</h3>
    <form class="add-collection input-and-button">
      <input type="text" class="name" placeholder="Collection name" />
      <button type="submit" class="add">Create</button>
    </form>
  </div>
</template>

<template name="collectionListing">
  <li class="collection-listing">
    <h3 class="collection-name">{{name}}</h3>
    <span class="publications-count">{{countDescription}}</span>
  </li>
</template>