<template name="login">
  <div class="auth-wrapper">
    <div class="auth-header">
      <a href="/"><img src="img/logo.png" class="logo" /></a>
    </div>
    <div class="form-container">
    {{#if error}}
      <h2>{{error}}</h2>
    {{else}}
      <h2>Welcome back!</h2>
    {{/if}}
    <form>
      <p>
        <span>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Email address" />
        </span>
      </p>
      <p>
        <span>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" />
        </span>
      </p>
      <p>
        <span>
          <input type="submit" value="Sign in" />
        </span>
      </p>
    </form>
  </div>
  </div>
</template>