<head>
  <title>PeerLibrary</title>
  <link rel="stylesheet" href="css/normalize.min.css" />
  <link rel="stylesheet" href="css/1140.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/jquery-ui-1.10.1.custom.min.css" />
  <link rel="shortcut icon" href="img/favicon.png" />
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="js/vendor/css3-mediaqueries.js"></script>
  <script src="js/vendor/jquery-1.9.0.min.js"></script>
  <script src="js/vendor/jquery-ui-1.10.1.custom.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
</head>

<body>
  {{renderPage}}
</body>
