<template name="persons">
  <h1>People</h1>

  <div class="row">
    <div class="col12 catalog">
      {{> catalogControls catalogSettings}}
      {{> personsCount}}
      {{> personsList documents}}
      {{> personsLoading}}
    </div>
    {{> personsSidebar}}
  </div>
</template>

<template name="personsList">
  {{#if this}}
    <ol class="item-list">
      {{#each this}}
        {{> personCatalogItem}}
      {{/each}}
    </ol>
  {{/if}}
</template>

<template name="personsCount">
  {{#if documentsCount}}
    {{#if documentsFilter}}
    <p class="status">Filter matches {{countDescription}}</p>
    {{else}}
    <p class="status">Displaying {{countDescription}}</p>
    {{/if}}
  {{/if}}
  {{#if noDocuments}}
    <p class="status">
      {{#if documentsFilter}}
        Filter matches no people.
      {{else}}
        There are no people yet. Sign up and become the first.
      {{/if}}
    </p>
  {{/if}}
</template>

<template name="personsLoading">
  {{#if documentsLoading}}
    <p class="status">Loading …</p>
  {{else}}
    {{#if moreDocuments}}
      <button class="load-more">Load more</button>
    {{else}}
      {{#if documentsCount}}
        <p class="status">No more people to display.</p>
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="personsSidebar">
  <div class="col4 push12 sidebar">
    {{#if currentPersonId}}
      <h2>My Profile</h2>
      <ol class="item-list">
        {{> personCatalogItem currentPerson}}
      </ol>
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="personInlineItem">
  {{#spaceless}}
    <a class="inline-item person {{#unless user}}no-user{{/unless}}" {{#unless noLink}}href="{{path}}"{{/unless}}>
      {{> personAvatar}}
      <span class="name" title="{{displayName}}">{{displayName}}</span>
    </a>
  {{/spaceless}}
</template>

<template name="personAvatar">
  <i class="avatar icon-person" title="{{status}}">
    <img src="{{avatar avatarSize}}"/>
  </i>
</template>

<template name="personCatalogItem">
  <li class="catalog-item person">
    {{#if gravatarHash}}
      <div class="avatar actionable">
        <img src="{{avatar avatarSize}}"/>
      </div>
    {{/if}}

    <div class="details">
      <h2>
        <a href="{{path}}" class="actionable">
          {{displayName}}
        </a>
      </h2>

      {{#if publications.length}}
        <p><i class="icon-publication"></i> {{publicationsCountDescription}}</p>
      {{/if}}

      {{#if inGroups.length}}
        <p><i class="icon-group"></i> Member of {{groupsCountDescription}}</p>
      {{/if}}
    </div>
  </li>
</template>
