<template name="persons">
  <h1>People</h1>
  <div class="row">
    <div class="col12">
      {{> catalog catalogSettings}}
    </div>
    {{> personsSidebar}}
  </div>
</template>

<template name="personsSidebar">
  <div class="col4 push12 sidebar">
    {{#if currentPersonId}}
      <h2>My Profile</h2>
      <ol class="item-list">
        {{> personCatalogItem currentPerson}}
      </ol>
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="personInlineItem">
  {{#spaceless}}
    <a class="inline-item person {{#unless user}}no-user{{/unless}}" {{#unless noLink}}href="{{path}}"{{/unless}}>
      {{> personAvatar}}
      {{!
        We use refresh before getDisplayName to merge subdocuments with all fields known on the client side.
        This makes sure that on lists where also invited persons are displayed, their emails are displayed as
        displayName to inviters (emails are not stored in subdocuments, but are subscribed to independently).
      }}
      <span class="name" title="{{refresh.getDisplayName}}">{{refresh.getDisplayName}}</span>
    </a>
  {{/spaceless}}
</template>

<template name="personAvatar">
  <i class="avatar icon-person" title="{{status}}">
    <img src="{{avatar avatarSize}}"/>
  </i>
</template>

<template name="personCatalogItem">
  <li class="catalog-item person">
    {{#if gravatarHash}}
      {{> personAvatar person}}
    {{/if}}

    <div class="details">
      <h2>
        {{getDisplayName}}
      </h2>

      {{#if publications.length}}
        <p><i class="icon-publication"></i> {{publicationsCountDescription}}</p>
      {{/if}}

      {{#if inGroups.length}}
        <p><i class="icon-group"></i> Member of {{groupsCountDescription}}</p>
      {{/if}}
    </div>

    <a class="full-item-link" href="{{path}}"></a>
  </li>
</template>
