<template name="privacy">
  <div class="simple">
    <h2>Privacy Policy</h2>
    <p>
      We collect, store and process various data from you, our user and community member. Some of this data we provide
      through our <a href="https://github.com/peerlibrary/peerlibrary/wiki/Public-API">public API</a> to everyone to
      use, some we keep private, some we keep anonymized. This page tries to explain this in more detail. If you
      have any concern with how we deal with data, please <a href="mailto:hello@peerlibrary.org">contact us</a>
      or open a <a href="https://github.com/peerlibrary/peerlibrary/issues/new">ticket</a> for public discussion.
    </p>
    <dl>
      <dt>Public data you contribute.</dt>
      <dd>
        Public data you contribute (public publications, public annotations, etc.) is available to everyone
        through our <a href="https://github.com/peerlibrary/peerlibrary/wiki/Public-API">public API</a> and is
        associated with your user account. This includes all past versions of any public data as well.
      </dd>
      <dt>Public data we compute about you.</dt>
      <dd>
        Based on public data you contribute we compute various additional data which we provide to other users
        on PeerLibrary and through our <a href="https://github.com/peerlibrary/peerlibrary/wiki/Public-API">public
        API</a>. An example of this data is site reputation points (karma points).
      </dd>
      <dt>Private data you store in PeerLibrary.</dt>
      <dd>
        Private data you store in PeerLibrary (private publications, private annotations, etc.) is available only to
        you and those you decide to share private data with. Access to your private data through
        <a href="https://github.com/peerlibrary/peerlibrary/wiki/Public-API">public API</a> is possible only if
        you allow a 3rd party application to connect to PeerLibrary in your name. Your private data is not stored
        encrypted on our servers and can be provided to law officials when legally obliged. In addition, in extreme
        circumstances, your private data can be accessed by administrators. In such cases we will try to keep privacy
        intrusion to minimum. An example of such extreme circumstance is database recovery operation where administrators
        would have to determine if restored data looks sensible.
      </dd>
      <dt>Your user account.</dt>
      <dd>
        When you sign up for PeerLibrary user account we gather some personal information about you. Some of this data
        is publicly displayed on your profile page. In addition, we collect information every time you sign in into
        PeerLibrary. We collect information such as IP from where the sign in request came from and related information.
        We collect and use this information to detect possible break in attempts and in general provide security to
        PeerLibrary site and users. We keep this data private and available only to administrators. Do understand that
        signing in effectively means you want us to keep track of your session and store a cookie or something similar
        in your browser to be able to do that. If you want to keep your use of PeerLibrary as private as possible, do
        not sign in.
      </dd>
      <dt>When an error happens.</dt>
      <dd>
        When an error happens in your browser while using PeerLibrary, we try to log information about the error with
        additional information about the context and environment (your browser) in which the error occurred. If user
        is signed in we associate the error with the user to allow possible follow up questions we might have.
        We collect this data to be able to remove errors for our users as soon as possible. We keep this data private
        and available only to administrators.
      </dd>
      {{! TODO: Add instructions how users can opt-out from being associated with the error }}
      <dt>How you use PeerLibrary, how you interact with user interface and navigate around.</dt>
      <dd>
        We store this data independently and unlinked to any information about users. We collect this data for
        both signed in and not signed in users. We collect this data with hopes of improving PeerLibrary user
        experience and learning more about how academic publications are read and interacted with. Maybe
        even determine new ways of evaluating publications. Because data could be potentially linked back to
        users by correlating data with public interactions with PeerLibrary (like publishing an annotation) we
        are currently keeping this data private and available only to administrators. We have to think more about this
        because we would like for it to become an useful source for all researchers to use. Aggregated data (like
        PeerLibrary usage statistics) and other results based on heavy processing of this data we share publicly.
      </dd>
      {{! TODO: Add instructions how users can opt-out }}
    </dl>
    <h3>Privacy Policy History</h3>
    <p>
      History of our privacy policy is available in our
      <a href="https://github.com/peerlibrary/peerlibrary/blob/master/client/templates/privacy.html">source code
      repository</a>.
    </p>
  </div>
</template>