<template name="profile">
  {{#if person}}
    <div id="profile">
      <h1>{{person.foreNames}} {{person.lastName}}</h1>
      {{#if isMine}}
        <h2>Library</h2>
        <ol class="item-list">
          {{#each myPublications}}
            {{> publicationLibraryItem}}
          {{/each}}
        </ol>
      {{/if}}
    </div>
  {{/if}}
</template>

<!-- TODO: Merge with publicationSearchResult -->
<template name="publicationLibraryItem">
  <li class="result-item">
    <div class="article-summary">
      <div class="article-summary-data">
        <h2 class="title"><a href="{{publicationPath _id slug}}">
          {{#if metadata}}
            {{title}}
          {{else}}
            {{filename}}
          {{/if}}
        </a></h2>
        {{#if processed}}
          <div class="clearfix"></div>
          <span class="authors line">
            {{#each authors}}
              <span><a href="{{profilePath slug}}">{{foreNames}} {{lastName}}</a></span>
            {{/each}}
          </span><br>
          <span class="date line">{{displayDay created}}</span><br>
          <span class="actions line">
            <a href="#" class="preview-link">Preview abstract</a> &middot;
            <a href="{{publicationPath _id slug}}">Full text</a>
            <i class="icon-external-link"></i>
          </span>
        {{/if}}
      </div>
      {{#if processed}}
        <div class="article-thumbnail">
          <ul class="scrubber">
            {{#each thumbnailUrls}}
              <li><img src="{{this}}" width="95" height="125" alt="" title="Page {{this.page}}"></li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
      <div class="clearfix"></div>
      <div class="abstract">
        <p class="abstract-content">{{abstract}}</p>
      </div>
    </div>
  </li>
</template>