<template name="profile">
  {{> header}}
  {{#if profile}}
    <div class="container_12">
      <div class="grid_9">
        <div class="user-info">
          <h1>{{profileError}}</h1>
          <h3 class="name">{{profile.profile.name_first}} {{profile.profile.name_last}}</h3>
          <div class="clearfix"></div>
          <p class="title">{{profile.profile.position}}, {{profile.profile.institution}}</p>
        </div>
        <div class="topbar">
          <a href="#" class="publications-link active">Publications <hr></a>
          <a href="#" class="reviews-link">Reviews <hr></a>
        </div>
        <div class="clearfix"></div>
        <ol class="item-list">
          {{#each publications}}
            <li>
              <div class="article-summary">
                <div class="article-summary-data">
                  <span class="score-badge">{{score}}</span>
                  <h4 class="title"><a href="viewer-link">{{title}}</a></h4>
                  <div class="clearfix"></div>
                  <span class="authors line">
                    {{#each authors}}
                      <a href="/u/{{username}}">{{name}}</a>
                    {{/each}}
                  </span><br>
                  <span class="date line">{{pubDate}}</span> in
                  <span class="field line"><a href="#">{{field}}</a></span> &raquo;
                  <span class="topics line"><a href="#">{{topics}}</a></span><br>
                  <span class="actions line">
                    <a href="#" class="preview-link">Preview abstract</a> &middot;
                    <a href="#">Full text</a>
                    <i class="icon-external-link"></i>
                  </span>
                </div>
                <span class="article-summary-stats">
                  <i class="icon-bookmark"></i> {{bookmarkCount}}
                  <i class="icon-edit"></i> {{commentCount}}
                </span>
                <div class="clearfix"></div>
                <div class="abstract">
                  <p>{{abstract}}</p>
                </p>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>
    </div>
  {{/if}}
  {{> search}}
</template>