<template name="profile">
  {{#if person}}
    <div id="profile">
      <h1>{{person.foreNames}} {{person.lastName}}</h1>
      {{#if isMine}}
        <h3>Library</h3>
        <ol class="item-list">
          {{#each myPublications}}
            {{> publicationSearchResult}}
          {{/each}}
        </ol>
        <h3>Importing</h3>
        <ul>
          {{#each myPublicationsImporting}}
            {{> publicationImporting}}
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/if}}
</template>
