<template name="publication">
  <div class="viewer">
    {{> publicationMetaMenu}}
    {{> publicationScroller}}
    {{> publicationDisplay}}
    {{> annotationsControl}}
    {{> publicationAnnotations}}
  </div>
</template>

<template name="publicationMetaMenu">
  <div class="meta-menu">
    <i class="icon-menu"></i>
    <div class="meta-content">
      <p><b>{{publication.title}}</b></p>
      <p class="authors">
        {{#each publication.authors}}
          <span><a href="{{profilePath slug}}">{{displayName}}</a></span>
        {{/each}}
      </p>
      <p>Published in: {{publication.source}}</p>
      <p>{{publication.created}}</p>
    </div>
  </div>
</template>

<template name="publicationDisplay">
  {{#constant}}
    <div class="display-wrapper"></div>
  {{/constant}}
</template>

<template name="publicationScroller">
  <div class="scroller">
    {{#each sections}}
      {{> publicationScrollerSection}}
    {{/each}}
    <div class="viewport"></div>
  </div>
</template>

<template name="publicationScrollerSection">
  <div class="section" style="height: {{heightPercentage}}%; top: {{topPercentage}}%"></div>
</template>

<template name="publicationAnnotations">
  <ul class="annotations-list">
    {{#each annotations}}
      {{> publicationAnnotationsItem}}
    {{/each}}
  </ul>
</template>

<template name="publicationAnnotationsItem">
  <li class="annotation {{#if local}}local{{/if}} {{selected}}">
    {{#if local}}
      <a href="{{profilePath currentPerson.slug}}">
        <img src="{{currentPerson.avatar}}" class="avatar" />
      </a>
    {{else}}
      <a href="{{profilePath author.slug}}">
        <img src="{{author.avatar}}" class="avatar" />
      </a>
    {{/if}}
    <div class="annotation-wrapper">
      {{#if local}}
        {{> annotationEditor}}
      {{else}}
        <div class="annotation-header">
          <h4 class="author-name"><a href="{{profilePath author.slug}}">{{author.displayName}}</a></h4>
          <span class="timestamp">{{updatedFromNow}}</span>
          {{#if editing}}
            <span class="cancel-button"><a href="">cancel</a></span>
          {{else}}
            {{#if canEdit}}
              <span class="edit-button"><a href="">edit</a></span>
            {{/if}}
          {{/if}}
        </div>
        {{#if editing}}
          {{> annotationEditor}}
        {{else}}
          <div class="annotation-content">
            <div class="body">{{{body}}}</div>
            {{> annotationTags}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  </li>
</template>

<template name="annotationEditor">
  <div class="annotations-editor">
    <div class="annotations-editor-form-wrapper">
      <form class="annotations-form">
        {{#if local}}
          <div class="form-header">
            <span class="form-title"><h2>New Annotation</h2></span>
            <span class="form-status">Changes saved</span>
          </div>
        {{/if}}
        <div class="form-content">
          <div class="format-toolbar">
            <ul class="format-buttons">
              <li class="inactive"><i class="icon-bold"></i></li>
              <li class="inactive"><i class="icon-italic"></i></li>
              <li class="inactive"><i class="icon-list-numbered"></i></li>
              <li class="inactive"><i class="icon-list-bullet"></i></li>
              <li class="inactive"><i class="icon-link"></i></li>
              <li class="inactive"><i class="icon-quote-left"></i></li>
              <li class="inactive"><i class="icon-math"></i></li>
              <li class="inactive"><i class="icon-code"></i></li>
            </ul>
          </div>
          <div class="form-body">
            {{#constant}}
              <div class="annotation-content-editor" contenteditable>
                {{{body}}}
              </div>
            {{/constant}}
          </div>
          <div class="form-tags">
            <i class="icon-tags"></i>
            {{#constant}}
              <ul class="annotation-tags-editor"></ul>
            {{/constant}}
          </div>
        </div>
        <div class="form-control">
          <button type="button" class="btn blue publish">Publish</button>
          <div class="visibility-menu">
            {{> visibilityMenu}}
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="annotationTags">
  <div class="tags">
    <ul class="annotation-tags-list">
      {{#each tags}}
        <li><a href="{{tagPathFromId _id}}">{{tag.name.en}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="visibilityMenu">
  <div class="ui-dropdown">
    <div class="ui-selection-wrapper">
      <span class="ui-selection">
        <i class="icon-public"></i>
        Public
      </span>
      <i class="icon-down"></i>
    </div>
  </div>
</template>

<template name="annotationMetaMenu">
  <div class="meta-menu">
    <i class="icon-menu"></i>
    <div class="meta-content">
      {{#if canEdit}}	    
        <button class="delete">Delete</button>
      {{/if}}
      <p class="authors">
        {{#with author}}
          <span><a href="{{profilePath slug}}">{{displayName}}</a></span>
        {{/with}}
      </p>
      <p class="time">{{created}}</p>
      <p class="time">{{updated}}</p>
      <p class="highlights">
        {{#each highlights}}
          <span><a href="{{highlightPathFromId _id}}">h:{{_id}}</a></span>
        {{else}}
          Not linked to any highlight.
        {{/each}}
      </p>
    </div>
  </div>
</template>
<template name="highlightInvite">
  <li class="annotation invite">
    <div class="vertical-align-outer">
      <div class="vertical-align-inner">
        <div class="body balance-text">
          Select text in the publication to make a highlight, or click on an existing highlight to select it.
        </div>
      </div>
    </div>
  </li>
</template>

<template name="annotationInvite">
  <div class="body balance-text">
    {{! TODO: Change to "Click here or start typing to link an annotation to the selected highlight." }}
    Click here to link an annotation to the selected highlight.
  </div>
</template>

<template name="highlightsControl">
  {{#if canEdit}}
    <button class="delete">Delete</button>
  {{/if}}
  <p class="authors">
    {{#with author}}
      <span><a href="{{profilePath slug}}">{{displayName}}</a></span>
    {{/with}}
  </p>
  <p class="time">{{created}}</p>
  <p class="time">{{updated}}</p>
  <p class="annotations">
    {{#each annotations}}
      <span><a href="{{annotationPathFromId _id}}">a:{{_id}}</a></span>
    {{else}}
      Not linked to any annotation.
    {{/each}}
  </p>
</template>

<template name="annotationsControl">
  {{!
  <button class="add" title="Add an annotation"><i class="icon-plus"></i></button>
  }}
  <div class="annotations-control"></div>
</template>

