<template name="publications">
  <h1>Publications</h1>
  <div class="row">
    <div class="col12 catalog">
      {{> catalogControls catalogSettings}}
      {{> noPublications}}
      {{> publicationsList entities}}
      {{> publicationsLoading}}
    </div>
    {{> myPublications}}
  </div>
</template>

<template name="publicationsList">
  {{#if this}}
    <ol class="item-list">
      {{#each this}}
        {{> publicationCatalogItem}}
      {{/each}}
    </ol>
  {{/if}}
</template>

<template name="noPublications">
  {{#if noEntities}}
  <p class="status">
    {{#if entitiesFilter}}
      The filter matches no publications.
    {{else}}
      There are no publications yet.
      {{#if currentPersonId}}
        Import the first from the menu on top.
      {{else}}
        Sign in and import the first.
      {{/if}}
    {{/if}}
  </p>
  {{/if}}
</template>

<template name="publicationsLoading">
  {{#if entitiesLoading}}
    <p class="status">Loading …</p>
  {{else}}
    {{#if moreEntities}}
      <button class="load-more">Load more</button>
    {{/if}}
  {{/if}}
</template>

<template name="myPublications">
  <div class="col4 push12 sidebar my-groups">
    {{#if currentPersonId}}
      {{! TODO: Add user's publications}}
    {{/if}}
    {{> footer}}
  </div>
</template>
