<template name="settings">
  <br/><br/><br/>
  {{#if person}}
    <h1>{{person.displayName}} personal settings</h1>
    {{#unless usernameExists}}
      {{> settingsUsername}}<br/><br/>
    {{/unless}}
    {{> settingsPassword}}
  {{/if}}
</template>

<template name="settingsUsername">
  <form id="set-username">
    <div class="form-control-group">
      <label for="username">Username</label>
      <input type="text" id="username" {{#unless isValid "username"}}class="invalid"{{/unless}} />
      {{#with messageOnField "username"}}
        {{> formMessage}}<br/>
      {{/with}}
    </div>

    <div class="form-control-group">
      <button class="set-username">Set username</button>
      {{! Global form message }}
      {{> formMessage messageOnField}}
    </div>
  </form>
</template>

<template name="settingsPassword">
  <form id="set-password">
    <div class="form-control-group">
      <label for="current-password">Current password</label>
      <input type="password" id="current-password" {{#unless isValid "current-password"}}class="invalid"{{/unless}} />
      {{#with messageOnField "current-password"}}
        {{> formMessage}}
      {{/with}}
    </div>

    <div class="form-control-group">
      <label for="new-password">New password</label>
      <input type="password" id="new-password" {{#unless isValid "new-password"}}class="invalid"{{/unless}} />
      {{#with messageOnField "new-password"}}
        {{> formMessage}}
      {{/with}}
    </div>

    <div class="form-control-group">
      <button class="change-password">Change password</button>
      {{! Global form message }}
      {{> formMessage messageOnField}}
    </div>
  </form>
</template>

<template name="formMessage">
  {{#if errorMessage}}
    <div class = "form-message error">{{errorMessage}}</div>
  {{/if}}
  {{#if infoMessage}}
    <div class = "form-message info">{{infoMessage}}</div>
  {{/if}}
</template>
