<template name="terms">
  <div class="simple">
    <h2>Terms of Use</h2>
    <p>
      Be nice. We are a community-run effort and open source project and do not have resources to deal with
      possible legal reprecussions of our users' actions. On the other hand, we are trying to be nice to you
      and other users as well, possibly being not so nice only when we have to protect some users or content
      from other users. If you have any concern with how PeerLibrary operates and this terms of use, please
      <a href="mailto:hello@peerlibrary.org">contact us</a>,
      <a href="https://github.com/peerlibrary/peerlibrary/issues/new">open a ticket</a> for public discussion, or
      <a href="https://github.com/wlanslovenija/django-tastypie-mongoengine/blob/master/CONTRIBUTING.rst">open a pull
      request</a> with a proposed change.
    </p>
    <h3>Public Data You Contribute</h3>
    <p>
      An important part of PeerLibrary is collaboration on academic commons. We do not want your contributions
      to human knowledge to be locked away ever again by anybody, including us. To assure this, by
      participating and contributing you irrevocably license your contributions worldwide under
      the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> (public domain) license (version 1.0
      or newer), including releasing any patents therein. In other words, all public data you contribute is seen
      as a common good and dedicated to the public domain. Your contributions will be publicly available,
      including their history, for everyone to use. On the other hand, this means you can use everything contributed
      by others as well. Although under the CC0 license there is no legal requirement of attribution, do not forget
      that using works of others without properly citing sources can be seen as plagiarism.
    </p>

    <h3>Private Data You Store</h3>
    <p>
      Private data (private publications, private annotations, etc.) you store in PeerLibrary stays yours and you
      retain full ownership, copyright, and other rights. We are just helping you store this data online, providing
      you with an easy and familiar way to access it from anywhere and read and work with publications.
      This is like working on your personal computer, just online and in the browser.
    </p>

    <h3>We Are Dealing With Your Data</h3>
    <p>
      Please read our <a href="{{privacyPath}}">privacy policy</a> for more information.
    </p>

    <h3>No Warranty</h3>
    <p>
      Add your favorite no-warranty-to-largest-possible-extent-permitted-by-law statement here. We try our best, but
      sometimes we make mistakes, sometimes our software and/or our hardware fail, or sometimes there are some other issues which will cause you
      inconveniences. Please bare with us.
    </p>

    <h3>Be Cooperative</h3>
    <p>
      Let us all be cooperative, collaborative, and considerate.
    </p>

    <h3>Do No Harm</h3>
    <p>
      Do no harm to the site, other users, or yourself.
    </p>

    <h3>Do Not Use For Sensitive Data</h3>
    <p>
      We are building a site which operates based on collaboration, mutual trust, and proactive data sharing. As such,
      some design decisions are made preferring openness and lack of control instead of tight security practices.
      Please do not use the site for anything sensitive. We might not be able to protect it.
    </p>

    <h3>Accepting Terms of Use</h3>
    <p>
      You are accepting these terms of use by using the site.
    </p>

    <h3>Terms of Use History</h3>
    <p>
      History of our terms of use is available in our
      <a href="https://github.com/peerlibrary/peerlibrary/blob/master/client/templates/terms.html">source code
      repository</a>.
    </p>
  </div>
</template>
