<template name="terms">
  <div class="simple">
    <h2>Terms of Use</h2>
    <p>
      Be nice. We are a community-run effort and open source project and do not have resources to deal with
      possible legal repercussions of our users' actions. On the other hand, we are trying to be nice to you
      and other users as well, possibly being not so nice only when we have to protect some users or content
      from other users. If you have any concern with how PeerLibrary operates and this terms of use, please
      <a href="mailto:hello@peerlibrary.org">contact us</a>,
      <a href="https://github.com/peerlibrary/peerlibrary/issues/new">open a ticket</a> for public discussion, or
      <a href="https://github.com/peerlibrary/peerlibrary/blob/development/CONTRIBUTING.md">open a pull
      request</a> with a proposed change.
    </p>

    <h3>Terminology</h3>
    <p>In this document we are using the following terminology:</p>
    <dl>
      <dt>PeerLibrary</dt>
      <dd>
        This site, installation and instance of PeerLibrary software. Not the PeerLibrary software itself, its source
        code, nor PeerLibrary open source project, PeerLibrary team or PeerLibrary source code contributors developing
        the PeerLibrary software.
      </dd>
      <dt>Data</dt>
      <dd>
        Data in the broad (broadest?) sense of this word. Not just facts but data as something general processed and
        stored by computers. In PeerLibrary context this means any data processed and stored by PeerLibrary, from
        publications, their metadata, to annotations, comments, etc.
      </dd>
      <dt>PeerLibrary Content</dt>
      <dd>
        PeerLibrary content represents public contributions contributed, federated, stored, aggregated, processed, and
        otherwise collected by PeerLibrary site itself and its users, PeerLibrary community. It represents commons and
        is freely available to use, reuse, and share under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
        (public domain) license (version 1.0 or newer), unless otherwise noted.
      </dd>
      <dt>PeerLibrary Community</dt>
      <dd>
        Users of this site, installation and instance of PeerLibrary software. Not the contributors to the
        PeerLibrary source code and PeerLibrary open source project. That is a community as well and it overlaps
        with users and community of this site, but we are not addressing it here.
      </dd>
      <dt>Contributions to PeerLibrary</dt>
      <dd>
        Contributions to PeerLibrary is public data contributed to PeerLibrary content by PeerLibrary community and can
        be roughly categorized into:
        <ul>
          <li>publications (full-text content of publications)</li>
          <li>publications metadata</li>
          <li>annotations, comments and other data related to publications</li>
          <li>other data</li>
        </ul>
      </dd>
      <dt>Importing a Publication</dt>
      <dd>
        Importing is a process of adding a publication to your personal virtual/cloud library providing a PDF file of
        a publication. It can be used to import publications published elsewhere, as a step of publishing a publication
        through PeerLibrary, or to import a private publication.
      </dd>
    </dl>

    <h3>Public Data You Contribute</h3>
    <p>
      An important part of PeerLibrary is collaboration on commons, PeerLibrary content. We do not want your contributions
      to human knowledge to be locked away ever again by anybody, including us. To assure this, by using PeerLibrary,
      participating, and contributing to PeerLibrary content, you irrevocably license worldwide all your public
      contributions under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> (public domain)
      license (version 1.0 or newer), including releasing any patents therein. In other words, all public data you
      contribute is seen as a common good and dedicated to the public domain. Your public contributions will be
      publicly available, including their history, for everyone to use. On the other hand, this means you can use
      everything contributed by others as well. Although under the CC0 license there is no legal requirement of
      attribution, do not forget that using works of others without properly citing sources can be seen as plagiarism.
    </p>

    <p>
      Make sure that you have all necessary rights to any data you publicly contribute to be able to license it under
      the CC0 license. This often means that you authored/created it and retained the copyright. Alternatively, you
      should assure that data you publicly contribute is already licensed under the CC0 license, is in public domain,
      or is not copyrightable to begin with. Please do not submit public contributions with unclear copyright status
      or data you do not own or have necessary rights to. It is better that we lack some data than that we have data of
      dubious copyright status. PeerLibrary provides easy ways of linking to data stored online, so alternatively
      you could just link to the data.
    </p>

    <h3>Publications You Import</h3>
    <p>
      You can import any publication you want to use and work with in PeerLibrary. If you are the first user importing
      a given publication make sure you set access settings properly. This assures that PeerLibrary accordingly allows or
      restricts access to those publications. Importing a publication does not necessary mean that you are contributing
      it to PeerLibrary content and commons nor that you are licensing it under the CC0 license. PeerLibrary is designed
      to support various use cases, like:
    </p>

    <ul>
      <li>
        importing a publication published elsewhere, which is published open access and can be freely shared and
        distributed – set it to "open access" and anyone will be able to find it in PeerLibrary and access publication
        in full
      </li>
      <li>
        importing a publication published elsewhere, which is published closed access and cannot be freely shared and
        distributed – set it to "closed access" and anyone will be able to find it in PeerLibrary, access its metadata,
        annotations, comments and other PeerLibrary content, but to access full-text content of the publication they
        will have to import the publication as well, showing that they have independent access to the publication
      </li>
      <li>
        publishing a publication through PeerLibrary – import it and set it to "open access"; by publishing a publication
        through PeerLibrary you are making it part of PeerLibrary content and commons and are licensing it under the
        CC0 license so make sure you have necessary rights to do so
      </li>
      <li>
        importing a private publication, eg. a draft of a paper you are working on, or some other private document – set
        it to "private" and only you and those you decide to give access to will be able to find it, access it and any
        related content; do not forget that if you later on decide to publish it and make it public, public annotations
        will become visible to anyone
      </li>
    </ul>

    <p>
      Please do not make PeerLibrary provide unrestricted access to full-text content of closed access publications
      without authorization by their copyright holder.
    </p>

    <h3>Private Data You Store</h3>
    <p>
      We do not claim any rights over private data you store in PeerLibrary, nor require you to license it under the
      CC0 license. We are just helping you store this data online, providing you with an easy and familiar way to
      access it from anywhere and read and work with publications. This is like working on your personal computer,
      just online and in the browser, and possibly collaboratively with those you decide to give access to.
    </p>

    <h3>We Are Dealing With Your Data</h3>
    <p>
      Please read our <a href="{{privacyPath}}">privacy policy</a> for more information.
    </p>

    <h3>No Warranty</h3>
    <p>
      Add your favorite no-warranty-to-largest-possible-extent-permitted-by-law statement here. We try our best, but
      sometimes we make mistakes, sometimes our software and/or our hardware fail, or sometimes there are some other
      issues which will cause you inconveniences. Please bare with us and
      <a href="https://github.com/peerlibrary/peerlibrary/issues/new">report any issues you encounter</a>.
    </p>

    <h3>Be Cooperative</h3>
    <p>
      Let us all be cooperative, collaborative, and considerate.
    </p>

    <h3>Do No Harm</h3>
    <p>
      Do no harm to the site, other users, or yourself.
    </p>

    <h3>Code of Conduct</h3>
    <p>
      Please adhere to the <a href="https://github.com/peerlibrary/peerlibrary/wiki/Code-of-Conduct">code of conduct</a>
      when using PeerLibrary and interacting with others.
    </p>

    <h3>Do Not Use For Sensitive Data</h3>
    <p>
      We are building a site which operates based on collaboration, mutual trust, and proactive data sharing. As such,
      some design decisions are made preferring openness and lack of control instead of tight security practices.
      Please do not use the site for anything sensitive. We might not be able to protect it.
    </p>

    <h3>Accepting Terms of Use</h3>
    <p>
      You are accepting these terms of use by using the site. By continuing using the site you accept the changes
      to these terms as they occur.
    </p>

    <h3>Terms of Use History</h3>
    <p>
      History of our terms of use is available in our
      <a href="https://github.com/peerlibrary/peerlibrary/blob/master/client/templates/terms.html">source code
      repository</a>.
    </p>
  </div>
</template>
