<template name="upload">
  <div class="row">
    {{> uploadForm}}
    <ul>
    {{#each publicationsImporting}}
      {{#if this.cached}}
        {{> publicationForm}}
      {{/if}}
    {{/each}}
    </ul>
  </div>
</template>

<template name="uploadForm">
  <div class="dropzone" style="border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;"></div>
</template>

<template name="publicationForm">
  <form data-id="{{this._id}}">
    <label for="title">Title:</label>
    <input type="text" name="title" value="{{this.title}}" />
    <label for="authorsRaw">Authors:</label>
    <input type="text" name="abstract" value="{{this.abstract}}" />
    <label for="abstract">Abstract:</label>
    <textarea name="authorsRaw">{{this.abstract}}</textarea>
    <label for="doi">DOI:</label>
    <input type="text" name="doi" value="{{this.doi}}" />
    <input type="submit" value="Confirm" />
  </form>
</template>